[2016-08-12 06:07] siddontang opened #2 "support gauge"

[2016-08-12 06:07] siddontang opened #3 "support untyped"

[2016-08-12 06:07] siddontang opened #4 "support histogram"

[2016-08-12 06:07] siddontang opened #5 "support summary"

[2016-08-12 06:08] siddontang opened #6 "support metric vector and variable labels"

[2016-08-12 06:09] siddontang opened #7 "support output with text and protobuf format"
- [x] Text format
- [x] Protocol buffer format

https://prometheus.io/docs/instrumenting/exposition_formats/

[2016-08-12 06:10] siddontang opened #8 "add examples"
Examples:
 - [x] work with hyper
 - [x] embed rust-prometheus
 - [x] global register and metrics usage

[2016-08-12 06:10] siddontang opened #9 "add example for how to use with hyper or iron"

[2016-08-12 06:25] xiang90 commented on #5
[code]

[2016-08-12 06:26] ngaut commented on #5
Thank you very much @xiang90
PTAL @overvenus

[2016-08-12 06:28] xiang90 commented on #7
[code]

[2016-08-15 02:48] overvenus commented on #5
@xiang90 Thanks for reminding

[2016-08-15 02:50] overvenus commented on #7
Thanks for reminding again :)

[2016-08-16 00:56] siddontang opened #10 "check valid metric name and label name"

[2016-08-23 13:33] overvenus commented on #9
Closed via #12

[2016-08-23 13:33] #9 closed

[2016-08-25 00:16] siddontang opened #13 "support a global registry"
Like

[code]

[2016-08-25 03:04] siddontang opened #14 "support labels macro to create labels easily"
we may refer https://github.com/pingcap/tikv/blob/master/src/util/macros.rs#L66 directly and change a little.

[2016-08-25 04:50] siddontang opened #16 "re-writer hyper example with cargo published hyper"
`cargo publish` seems not support hyper with git dependence. we should use the published one.

[2016-08-25 07:23] #16 closed

[2016-08-26 02:26] siddontang opened #21 "add document"

[2016-08-26 02:34] siddontang opened #22 "remove dead_code comment"

[2016-08-26 03:07] #13 closed

[2016-08-26 03:17] #2 closed

[2016-08-26 03:32] siddontang opened #23 "port more guage test from golang client."

[2016-08-26 03:33] siddontang opened #24 "port more vec metric test from golang client"

[2016-08-26 03:33] siddontang opened #25 "port benchmark from golang client"

[2016-08-27 02:19] siddontang opened #26 "use macro to register global metics easily"
Like
[code]

[2016-08-29 02:51] #4 closed

[2016-08-29 06:47] siddontang opened #28 "add README"

[2016-08-29 07:28] lucab commented on #28
You may (or may not) be interested in linking to https://docs.rs/prom/.

[2016-08-29 07:54] siddontang commented on #28
Thanks @lucab.

But later we will use `prometheus` as crate name, maybe the linking may be changed.

[2016-08-29 08:00] lucab commented on #28
Yeah, of course. https://docs.rs/prometheus exists. but it still references the previous one. I just wanted to point out that docs.rs already hosts documentation for you (in case you missed its launch).

[2016-08-30 04:46] #14 closed

[2016-08-30 04:46] #26 closed

[2016-08-30 04:47] overvenus commented on #8
Closed via #12 and #20

[2016-08-30 04:47] #8 closed

[2016-08-30 05:07] siddontang opened #32 "gather should returns a lexicographically sorted metric family slice"

[2016-08-30 14:56] siddontang opened #34 "support push"

[2016-08-31 00:45] #6 closed

[2016-08-31 01:42] siddontang opened #35 "macro for registering vec metric"

[2016-08-31 07:26] #3 closed

[2016-08-31 08:54] #21 closed

[2016-08-31 10:01] #35 closed

[2016-08-31 11:49] #32 closed

[2016-08-31 12:17] #22 closed

[2016-08-31 12:17] #28 closed

[2016-08-31 14:22] posix4e opened #41 "Any objections to me merging this into rust metrics"
I have my own very simple Prometheus implementation. Since yalls is already more baked i would like to switch to it.

[2016-08-31 14:25] siddontang commented on #41
Hi @posix4e
You can use this in your rust metrics, any advice is welcome :-)

[2016-08-31 15:14] posix4e commented on #41
One big bit of advice would be to get on an irc room and advertise it. Frankly since y'all are going to to be the way i do prometheus reporting maybe we can share #rust-metrics

[2016-08-31 15:29] posix4e commented on #7
What's the story here? We can only put out text. I see some basic protobuf support. Is it just we don't have something fully baked. In the example the client has to bring and setup hyper themselves as far as I can tell.

[2016-08-31 15:29] posix4e commented on #5
If you look at the meter in rust-metrics we might get far.

[2016-08-31 15:36] posix4e commented on #41
Feel free to close this issue whenever

[2016-09-01 00:21] siddontang commented on #5
Thanks @posix4e, we will see it.

[2016-09-01 00:23] siddontang commented on #7
Hi @posix4e

I think @xiang90 want us to support these with modularization, so users can determine themselves which one to use easily.

[2016-09-01 07:20] siddontang opened #45 "Histogram supports start_timer"
Like

[code]

[2016-09-01 07:22] siddontang opened #46 "Type supports labels directly, no another Vector metrics."
Like Prometheus java client, like

[code]

Suggested by @brian-brazil

[2016-09-01 07:23] siddontang opened #47 "It is not an error for a MetricFamily to have no metrics"

[2016-09-01 08:26] overvenus commented on #47
[text_create.go#L37](https://github.com/prometheus/common/blob/master/expfmt/text_create.go#L37) returns an error if a MetricFamily has no metrics.

It confuses me why go returns an error?

@brian-brazil

[2016-09-01 17:32] brian-brazil commented on #47
This is something that Go happens not to support, but it's valid.

[2016-09-02 00:33] #45 closed

[2016-09-02 03:38] overvenus commented on #47
All right, thanks @brian-brazil

[2016-09-07 07:19] Rukenshia opened #52 "more descriptive issues"
I'd really like to contribute since I actually started working on a Prometheus client library some time ago but never got to finish it because I don't have enough time to do this right now. I found this project but the issues here have little to no descriptions or _what actually is needed_.

[2016-09-07 07:43] siddontang commented on #52
Hi @Rukenshia
Thanks for your interest and welcome to contribute! I sorry that we don't have any descriptions or what is needed right now. We will improve these later.

Now, I think the most important issues are #5 , #34 and #7, feel free to have a try :-)

[2016-09-08 03:29] siddontang opened #55 "simplify histogram register macro"
- use Vec<f64> or &[f64] for buckets in register histogram macro
- add bucket arg for register histogram vec macro

[2016-09-09 11:00] #34 closed

[2016-09-13 19:33] ccmtaylor commented on #5
IME, summaries aren't very useful in practice since you can't meaningfully aggregate them across multiple instances of a service. The [prometheus docs](https://prometheus.io/docs/practices/histograms/#quantiles) go into this in some detail, and the go client [has deprecated](https://github.com/prometheus/client_golang/blob/8aae34f3ffc9a93c75efeaad87bb192aa7750900/prometheus/http.go#L163) the auto-

[2016-09-14 00:53] siddontang commented on #5
Thanks @ccmtaylor

The summary has a low priority, but if other clients still support it, we may support it later.

[2016-09-15 00:11] siddontang opened #59 "use Atomic value to improve performance"
Now we use `RwLock<f64>`, but we can use Atomic U64 like golang client to improve the performance.

But be careful that now the stable rust only supports AtomicUsize, so we must use this in 64 bit system only.

And we should do benchmark to see whether this can improve the performance or not.

[2016-09-15 10:42] overvenus commented on #59
Just a quick reminder.

 - Unstable Struct std::sync::atomic::AtomicU64
 - [Add more integer atomic types](https://github.com/rust-lang/rust/pull/33048)
 - [rust-rfc: Add more integer atomic types](https://github.com/rust-lang/rfcs/pull/1543)
 - [rust-rfc: Add a generic Atomic\<T\> type] lots of interesting discussion.
 - [atomic-rs], an interesting crate, atomic anything implements `Copy`.

[atom

[2016-09-19 01:05] #10 closed

[2016-09-19 12:29] siddontang opened #65 "port process collector"
So we can monitor current running process CPU, Memory, etc.

[2016-09-20 03:12] siddontang commented on #65
We can use https://github.com/danburkert/procinfo-rs, but it only works in unix, I think it is ok.

[2016-09-20 20:15] brunoqc commented on #65
It would be nice to have support for other platforms too, eventually.

[2016-09-20 23:49] siddontang commented on #65
@brunoqc

We can only focus on *nix (Linux + Mac OS X), we don't use Windows in our team.
This is optional metric, maybe you can help us support Windows or other platforms. :-)

[2016-09-21 02:00] #59 closed

[2016-09-21 02:04] siddontang opened #68 "improve the performance for Metric vector"
The MetricVec is at least 2 or 3 times slower than Metric,  we should improve this.

[2016-09-24 03:44] siddontang opened #72 "benchmark batch Metric Vector"
If we want to inc some VecMetric many times, we may first cache in a map then inc in batch.

[code]

to compare with

[code]

[2016-09-30 02:36] overvenus commented on #72
I prefer the second one.

Benchmark results are not accurate, if we cache things in a hashmap, because hashmap is relatively [slow](https://www.rust-lang.org/en-US/faq.html#why-are-rusts-hashmaps-slow) in Rust.

[2016-09-30 02:37] #41 closed

[2016-09-30 02:41] siddontang commented on #72
Sometimes we can't call the metric too frequently, so we should cache it and call the metric in batch.
Is HashMap really slow for the above case?
Or we can use BTreeMap or even define a structure for the multi metrics.
What I want here is to supply a optimization guide for user when they find metrics reduce the performance.

Btw, Benchmark may be not accurate, but it can still show something for u

[2016-10-08 04:45] #47 closed

[2016-11-03 17:09] kamalmarhubi opened #81 "Status of this library and comparison to other prometheus libs in Rust"
I'm looking to use Prometheus in a Rust program. There are [a few libraries on crates](https://crates.io/search?q=prometheus). Is this the one that people are coalescing around? It would be good if the README could have some small section stating its status and comparing it to alternatives. A sentence or two would be fine.

[2016-11-04 00:45] siddontang commented on #81
Hi @kamalmarhubi

We have already use our Prometheus Rust lib deeply in TiKV in production, so you can also use it in your project.

We get many help from Prometheus team and you can see our lib in  [Prometheus client libs](https://prometheus.io/docs/instrumenting/clientlibs/).

We may only care two libraries on crates, the one is our's, the other is [metrics](https://crates.io/crates/metrics). `m

[2016-11-04 01:25] kamalmarhubi commented on #65
procinfo is in fact Linux only. Still a good starting point though.

[2016-11-04 01:46] siddontang commented on #65
Thanks @kamalmarhubi

We have not found any lib that supports all platforms, so now we only support Linux. If you find some or want to write one, please tell us :-)

[2016-11-04 03:57] overvenus commented on #65
Unfortunately, procinfo does not compile with stable and beta rust (danburkert/procinfo-rs#10 and danburkert/procinfo-rs#12).

I would remove procinfo temporary, and will add it back once the problem is solved.

[2016-11-04 14:45] kamalmarhubi opened #84 "Allow building without hyper"
In the ideal use of Prometheus, libraries provide their own instrumentation:

―https://prometheus.io/docs/practices/instrumentation/

Bringing in the push client by default makes that hard to do: any library instrumented with Prometheus suddenly brings in hyper and all its dependencies.

Here are a couple of ideas on how to fix this:

- make the push gateway client a separate crate
- add an option

[2016-11-04 15:01] kamalmarhubi opened #85 "Minimize dependencies of the core instrumentation library"
This is related to #84. Right now, there are 7 direct dependencies, and 36 transitive dependencies. Removing hyper will go a long way, dropping 21 of the dependencies. The other big improvement we can have is getting rid of regex, which will drop a further 10. With both removed, there would be just 5 dependencies, all of which are direct:

[code]

[2016-11-04 15:30] overvenus commented on #84
I vote the second.

Actually, I used to add a `push` feature in the first place (#53)

What's you opinion? @siddontang

[2016-11-04 15:44] kamalmarhubi commented on #84
I also think the crate feature is a better way to go.

[2016-11-04 22:20] siddontang commented on #84
I prefer push feature too.

[2016-11-05 02:59] overvenus commented on #85
For `regex`, maybe we replace it with few handwritten matching functions.

----

We can mark `libc` as optional too, after we adding a `push` feature.

[2016-11-05 04:01] overvenus commented on #84
I am working on it, a PR will be sent soon.

[2016-11-05 04:19] kamalmarhubi commented on #85
@overvenus yeah my plan was to replace it with handwritten validators.

[2016-11-06 04:24] kamalmarhubi commented on #65
I just opened https://github.com/danburkert/procinfo-rs/pull/14 which works around the overflow issue.

[2016-11-06 06:28] kamalmarhubi commented on #81
Closing this, as I've decided this is the most complete library so far. :-)

[2016-11-06 06:28] #81 closed

[2016-11-06 06:37] kamalmarhubi commented on #25
Are there other benchmarks to be added? Could you link to the golang benchmarks?

[2016-11-07 05:03] siddontang commented on #25
Thanks @kamalmarhubi

Seem that there is no other benchmark in go we need to port.  I will close it now.

[2016-11-07 05:03] #25 closed

[2016-11-07 05:27] overvenus commented on #65
That's cool! I will use procinfo once that is merged.

[2016-11-10 06:41] #84 closed

[2016-11-10 18:49] kamalmarhubi commented on #65
https://github.com/danburkert/procinfo-rs/pull/15 just got merged, should now work on stable.

[2016-11-13 03:08] kamalmarhubi commented on #85
Between #89 and #86 this is pretty much done. Full list of transitive dependencies:

[code]

[2016-11-13 03:08] #85 closed

[2016-11-17 06:08] kamalmarhubi opened #94 "Add ConstMetric to be used in custom collectors"
Double check that this is the recommended approach in client_golang, but it *is* what they do for the `ProcessCollector`: https://github.com/prometheus/client_golang/blob/master/prometheus/process_collector.go#L125-L130

[2016-11-19 01:23] #55 closed

[2016-12-07 02:51] #65 closed

[2017-02-20 19:11] bbigras opened #98 "data race with example_hyper"
To reproduce, run example_hyper with `RUSTFLAGS="-Z sanitizer=thread" cargo run` on a recent nightly. Then run `curl localhost:9898/metrics` twice.

The sanitizer is a new cool feature. See [[HowTo] Sanitize your Rust code!](https://users.rust-lang.org/t/howto-sanitize-your-rust-code/9378)

[code]

[2017-02-20 23:55] siddontang commented on #98
/cc @overvenus

[2017-02-21 02:55] brunoqc commented on #98
Be aware that there could be false positives. See https://users.rust-lang.org/t/howto-sanitize-your-rust-code/9378/22. And https://github.com/japaric/rust-san#better-backtraces could be useful too.

[2017-02-21 02:59] siddontang commented on #98
Thanks @brunoqc

We will fix it later, or could you send us a PR to fix it?

[2017-03-09 09:13] overvenus commented on #98
Hi @brunoqc ,

Sorry for the super late reply.

The SUMMARY indicates that the data race happens in crate [lazy-static](https://github.com/rust-lang-nursery/lazy-static.rs/blob/f30eb51849fe6e3fae0e891f263241dbb5591a68/src/lazy.rs#L19).

[code]

@parched said that

https://github.com/rust-lang/rust/issues/39608#issuecomment-278483732

----------------

I am not so familiar with atomic and fence, no

[2017-03-09 20:21] parched commented on #98
Looks like is probably call_once. I had a look at the source though and couldn't see anything obvious, it certainly doesn't use fences that I could see. It would be good to run it with better backtraces (link earlier) to see exactly where it is happening.

[2017-03-23 05:47] #7 closed

[2017-04-28 11:29] algermissen opened #101 "Question on LocalHistogram and flush()"
Hi,

at first: thanks for putting this crate together!!

I am wondering about the use of LocalHistgram: it seems I actively have to call flush() from the individual threads, meaning that I have to decide when to actually flush().

Do you think it makes sense to have any local histogram flushed implicitly when metrics are collected? That way one would not have to worry about periodically calling fl

[2017-05-01 15:51] siddontang commented on #101
Hi @algermissen

Why we want to support local histogram is to ensure the best performance for TiKV only, now I have no idea to remove the explicit flush, maybe we can use thread local value later.

If you have any suggestion, please tell us. Now I will close your issue as you said above. Thank you :-)

[2017-05-01 15:51] #101 closed

[2017-05-17 02:17] #72 closed

[2017-05-17 02:59] siddontang opened #102 "consider supporting local-core metrics"
Now using metrics across multi threads has a low performance, so we have to use local metric and then flush to the global metric sometimes, it is not convenient, maybe we can use core-local metrics, But I don't know whether it is easy to do or not.

See http://rocksdb.org/blog/2017/05/14/core-local-stats.html

[2017-06-09 06:36] siddontang opened #103 "add tcp statistics"
Maybe we can parse `/proc/pid/net/sockstat`

[2017-08-06 15:51] jedisct1 opened #107 "Update the crates.io version?"
Hi,

The last version published on crates.io is 0.2.8, which doesn't compile any more with current Cargo versions.

Could you publish an update to crates.io?

Thanks!

[2017-08-07 09:21] siddontang commented on #107
Thanks @jedisct1

We will update after #108 merged.

[2017-08-08 07:32] siddontang commented on #107
Hi @jedisct1

We have already updated to 0.3.0, please try it. :-)

[2017-08-08 07:32] #107 closed

[2017-08-08 15:53] jedisct1 commented on #107
Thanks a lot!

[2017-09-20 20:01] algermissen opened #115 "register() in Registry would panic"
Hi,

just saw that calling register() on a Registry could panic without any possibility for the user to let that error bubble up the chain to be handled gracefully outside the registry (see the call to unnwrap() in https://github.com/pingcap/rust-prometheus/blob/master/src/registry.rs#L203)

Is that intentional? Would it not be better to map over the result of write?

Jan

[2017-09-20 23:46] siddontang commented on #115
Hi @algermissen

The unwrap in the register is for the RwLock.
I think it makes a scene here because in most cases, the lock operation can't fail except we meet some very serious bugs.

[2017-09-20 23:47] #23 closed

[2017-09-20 23:47] #24 closed

[2017-10-25 07:46] siddontang opened #121 "Use spin lock instead of standard lock"
I use crate spin 0.4.6 and find that the spin lock has a better performance than the standard lock.

In our case, we can't hold the lock for a long time, so using spin has a great benefit.

[code]

[code]

[2017-11-07 01:29] jamessewell opened #123 "Counter and CounterVec don't allow set"
Hi,

I'm currently implementing an exporter using this crate,  so I'm mining metrics then exposing them.

This works fine - except I can't set a counter to a value. This is an absolute requirement for an exporter which monitors an external component. At each exporter run I have no idea what the last value of the counter was - so I can't increment by x.

Let me know if a PR would be appropriate.

[2017-11-07 01:41] jamessewell commented on #123
Oops, just realised I can just increment by x as each counter is only used once.

[2017-11-07 01:41] #123 closed

[2017-11-28 09:13] overvenus commented on #121
Closed via #124

[2017-11-28 09:13] #121 closed

[2017-11-28 16:30] algermissen commented on #115
Cool.

[2017-11-28 16:30] #115 closed

[2017-12-17 09:26] siddontang opened #133 "try to use Core-local Statistics mechanism"
Now we find that the lock contention of Vector metrics is very serious. To avoid this, we usually implement a local metric mechanism then flush to the global metrics, this works well and has a high performance, but we can't always use this way conveniently in anywhere.

A better way is to use Core-local Statistics, like RocksDB does http://rocksdb.org/blog/2017/05/14/core-local-stats.html

[2018-01-05 13:53] overvenus opened #135 "Occasionally fails to push metrics to a pushgateway"
The push client fails to push metrics after rebooting pushgateways, and halts.

[2018-01-25 08:48] breeswish opened #145 "LocalHistogramTimer should have #[must_use]"
If `LocalHistogramTimer` is not used, it is dropped immediately so that the timer cannot collect useful info. We need to explicitly state that it is `must_use` in case of programmer's mistakes.

[2018-01-29 10:43] breeswish opened #146 "Use Generic Tuples to type labels"
`variable_labels` can be expressed by generic tuples (variables in tuple length).

This brings several benifits:

1. Runtime cost of checking the length of `variable_labels` can be eliminated.
2. Label length can be checked in compile time.

[2018-01-29 11:30] siddontang commented on #146
can you support this?

[2018-01-29 11:30] #135 closed

[2018-01-29 13:48] breeswish commented on #146
@siddontang Ok. When I'm free I will handle this. By the way this will change interface signatures, which will be a breaking change.

[2018-01-29 13:50] breeswish opened #147 "Use Mutable Reference in LocalHistogram Interfaces"
As previously discussed in https://github.com/pingcap/rust-prometheus/pull/141
Open an issue here in case of forgetting.

[2018-01-31 14:22] siddontang opened #149 "Provide a IntCounter and IntGauge"
Mostly, we use the integer for counter and gauge, so it is more efficient to use atomic int64 directly than float64.

[2018-02-01 09:19] breeswish opened #150 "LocalMetrics does not need RwLock in MetricVecCore"
For local metrics, we don't need to ensure Sync so that we can remove the lock in MetricVecCore, which can improve performance for LocalCounterVec, LocalHistogramVec etc.

[2018-02-01 12:39] breeswish opened #151 "`Counter.inc_by` should be named as `try_inc_by`"
It attempts to `inc_by` so that it is `try_inc_by`.

For `inc_by`, it should be coded as `self.try_inc_by(..).unwrap()`.

[2018-02-01 15:03] siddontang commented on #151
I suggest using `inc_by` and panic directly internally to make code simple.

[2018-02-23 09:04] breeswish opened #155 "Use Mutable Reference in Gauge Interfaces"
Related: https://github.com/pingcap/rust-prometheus/issues/147

[2018-02-27 15:26] breeswish commented on #149
prometheus-go implements similar optimizations, but leaving a nicer interface (transparent to users): https://github.com/prometheus/client_golang/commit/ae6939214cd9f7c7a1c511550ac7da1be1c2a924

[2018-03-01 02:30] siddontang commented on #149
cool, but we should support math.Trunc, and do a benchmark to compare Trunc + Int Atomic and Float Atomic.

[2018-03-01 02:32] breeswish commented on #149
yes. I will do a benchmark. If the performance impact of math.thunc is minimal, I prefer this way.

[2018-03-01 07:08] breeswish commented on #149
According to the benchmark, adding a trunc check (and uses float as interface) will slow down about 20%~30% compared to AtomicInt:

test counter::bench_atomic_f64                          ... bench:          11 ns/iter (+/- 2)
test counter::bench_atomic_u64                          ... bench:           4 ns/iter (+/- 0)
test counter::bench_atomic_u64_trunc                    ... bench:           6

[2018-03-01 09:05] breeswish commented on #149
According to the rust book,

I guess it is equal to `if (v.round() as u64) as f64 == v`. Will update the benchmark for this later.

[2018-03-01 09:57] breeswish commented on #149
Time consumption of these two are exactly the same.

[2018-03-01 10:16] breeswish commented on #149
We can implement `Counter<T = f64>` so that by default users have a f64 counter and if necessary a u64 counter can be used.

[2018-03-01 17:24] breeswish commented on #151
Fixed in PR #156, closing.

[2018-03-01 17:24] #151 closed

[2018-03-01 17:26] breeswish commented on #150
Since there is a cache in LocalMetrics, this lock will not introduce notable performance impact. Closing.

[2018-03-01 17:26] #150 closed

[2018-04-18 08:38] siddontang opened #167 "Test JIRA sync"

[2018-04-18 08:38] #167 closed

[2018-05-11 11:38] niksaak opened #172 "The crate fails to build after the update."
The build log and relevant part of Cargo.lock is in the following gist: https://gist.github.com/niksaak/39d0af30ff04ebe08afb80cbb4275307

[2018-05-12 08:40] #172 closed

[2018-05-17 08:24] adam-rhebo opened #174 "Incompatibility with protobuf 1.6"
As indicated by their [Changelog](https://github.com/stepancheg/rust-protobuf/blob/master/CHANGELOG.md), the `protobuf` crate [dropped the `MessageStatic` trait](https://github.com/stepancheg/rust-protobuf/pull/262) which implies compilation errors in this crate:
[code]

[2018-05-17 08:28] siddontang commented on #174
#171 is fixing this.

[2018-05-22 09:27] overvenus commented on #174
Hi @adam-rhebo

Try upgrading[0] the protobuf to v1.7, I think it has been fix https://github.com/stepancheg/rust-protobuf/issues/289#issuecomment-389929147 .

[0]: `cargo update -p protobuf`

[2018-05-22 09:41] adam-rhebo commented on #174
@overvenus Yes, I noticed and hence this can be closed now. (But the merge request is still interesting w.r.t. protobuf 2.0.)

[2018-05-22 09:41] #174 closed

[2018-05-23 05:20] overvenus opened #176 "Use `cargo clippy` instead of the clippy plugin"
The clippy team is planning on removing plugin interface. See more https://github.com/pingcap/tikv/issues/3090.

Also the `dev` feature should be remove after that.

[2018-06-04 03:47] siddontang opened #178 "a simple benchmark with lazy static"
[code]

After test, I found that using clone, the duration is `{ secs: 0, nanos: 113569581 }`, but calling lazy static is`{ secs: 0, nanos: 135787857 }`.

As we can see, the time reduces at least 15%. but I don't think we don't need to worry about the lazy static performance, it is still very fast. Maybe we only need to know the reduction reason.

[2018-06-04 09:32] Hoverbear commented on #178
I would recommend running this through a `#[bench]` to get a more accurate time cost range.

[2018-06-05 04:38] breeswish commented on #178
I rebuild the project using release profile and it is working as expected, similar to our [previous benchmark result](https://github.com/pingcap/rust-prometheus/pull/166#issuecomment-382024750). I think the issue can be closed now.

[2018-06-15 10:11] #149 closed

[2018-07-31 13:57] yanns opened #189 "Which version is needed to push metrics"
I'm using the version 0.4, and `prometheus::push_metrics` does not seem to exist.

[code]

Is it only in master?

[2018-08-01 07:54] yanns commented on #189
I found a solution:
[code]

instead of:
[code]

[2018-08-01 07:54] #189 closed

[2018-09-07 09:41] Licenser opened #194 "registry wide const_label"
It would be helpful to be able to set global labels. Say for a service a service identifier, or an instance identifier:

As a examnple:
[code]

[2018-09-08 03:39] breeswish commented on #194
Currently you may use these facilities:
- Prometheus's [static_config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#static_config)
- Prometheus's [relabel_config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config)
- rust-prometheus's [`grouping` parameter in `push_metrics`](https://github.com/pingcap/rust-prometheus/blob/0ae6975ee

[2018-09-08 03:45] #176 closed

[2018-09-08 03:51] #52 closed

[2018-09-08 03:53] breeswish commented on #133
Duplicate with https://github.com/pingcap/rust-prometheus/issues/102

[2018-09-08 03:53] #133 closed

[2018-09-08 19:12] Licenser commented on #194
Heya :) thanks for getting back to me so quick!

Adding a const map in the metrics would be a way, it'd require doing things in more places but it probly is also more flexible.

@breeswish thanks for the sugestions but none of them would solve my current problem.

If something like that would be accepted I'm happy to try and make a PR to help getting this implemented.

[2018-09-09 12:42] siddontang commented on #194
Thanks, @Licenser

Can't wait to see your PR :-)

[2018-09-09 13:17] Licenser commented on #194
👍 I'll try to get to it on monday :)

[2018-09-10 02:21] breeswish opened #198 "Upgrade static-metric dependencies"
syn, proc_macro2 and quote can be upgraded.

[2018-09-12 14:29] breeswish commented on #194
Hi, @Licenser  I believe it is not what you expect :) static metrics are not const labels, it is a macro-based helper to cache metric of metric vector.

[2018-09-13 03:33] #145 closed

[2018-10-10 23:12] Hoverbear opened #206 "Take up some Github based project management habits"
Hi!

As you may have noticed https://github.com/pingcap/raft-rs/ has begun utilizing Github's milestones to track releases, and projects to track major features.

For now in Raft I've adopted a very minimal working set of habits:

1. Every milestone is a version.
2. Every issue is assigned to a milestone.
3. Every 'story' involving multiple issues gets a Project once there are 5-ish issues.
4. Pro

[2018-11-04 19:19] OtaK opened #210 "Remove or make protobuf dependency optional"
**Is your feature request related to a problem? Please describe.**
As documented here: https://prometheus.io/docs/instrumenting/exposition_formats/
Prometheus > 2.0 does not support Protobuf at all anymore.
The `protobuf` crate is **huge** when compiled (a bit less than 400KB) and it bloats the binaries that are using `rust-prometheus` without the protobuf format.

**Describe the solution you'd li

[2018-11-05 03:38] siddontang commented on #210
Hi @OtaK

Seem it only removes Protobuf from the exposed metric, but the client still uses it? if yes, we can't remove the Protobuf.

[2018-11-05 06:05] breeswish commented on #210
Thanks for your suggestion. I agree that we can make Protobuf optional (which should be only only needed when "push" feature is on).

[2018-11-05 09:54] OtaK commented on #210
@siddontang Hi! See here:
https://prometheus.io/docs/instrumenting/writing_clientlibs/#exposition

[code]

So yeah, the whole support of protobuf has been removed from Prometheus 2.0 and up.

@breeswish Well, even for pushing metrics Prometheus Pushgateway requires the text format: https://prometheus.io/docs/instrumenting/pushing/

[code]

[2018-11-08 19:19] siddontang commented on #210
hi @OtaK

It is very appreciated that you can help us remove it. you can ask @breeswish for help.

[2019-01-03 20:29] brson opened #217 "Upgrade to Rust 2018"
After TiKV itself is successfully upgraded (https://github.com/tikv/tikv/issues/3896) we can bump prometheus to Rust 2018 as well. Do a major version bump.

[2019-01-03 22:00] brson opened #218 "Release version 1.0"
After upgrading to Rust 2018 (https://github.com/pingcap/rust-prometheus/issues/217) we can start thinking about releasing 1.0. There may be some other improvements needed as well, but let's get them started.

[2019-01-04 18:15] brson commented on #218
Thanks for the feedback @breeswish! I'll ask more about them when I start this work.

[2019-01-08 22:51] brson commented on #217
In thinking about backwards compatibility I'm inclined to explicitly break support for Rust 2015 when we do this upgrade - it's possible to be compatible with both, but by doing so we have to be vigilant about breaking 2015 compatibility. I'm inclined to insert some boilerplate code into each of [fail](https://github.com/pingcap/fail-rs/issues/21), [prometheus](https://github.com/pingcap/rust-prom

[2019-01-10 23:41] Hoverbear commented on #217
@brson When you get there please investigate using `const fn` in our upgrade:

This is a common use case:

[code]

[2019-01-14 14:01] chocol4te commented on #218
Hello!

Would it be possible to release a 0.4.3 of the current master? My colleague worked on #215, and it would be great to be able to move away from a git dependancy of that commit.

Thanks! :)

[2019-01-14 14:19] siddontang commented on #218
@breeswish

Please release it.

[2019-01-14 16:02] breeswish commented on #218
Looks like we have already assigned 0.5 because of some existing breaking change. I'm going to just release 0.5!

[2019-01-14 16:02] breeswish commented on #218
Looks like we have already assigned 0.5 because of some existing breaking change. I'm going to just release 0.5!

[2019-01-14 16:11] breeswish commented on #218
We have published 0.5 👏

We will work on release 1.0, carrying all nice features we want. Hope we can finish it before FOSDEM2019 XD

[2019-01-16 03:05] brson commented on #217
I have a branch here that does the upgrade https://github.com/brson/rust-prometheus/tree/rust-2018

I have not looked into const fn yet but I will.

[2019-01-18 01:55] brson commented on #217
I'm also trying to figure out how far back in the Rust stable toolchain one has to go before cargo starts just ignoring `edition = "2018"`, since that's when it's theoretically possible to be compatible with both 2015 and 2018. I am hopefully though that cargo started rejecting `edition = "2018` at the same time it started accepting `crate` in paths, making it very unlikely to have a single crate

[2019-01-23 08:59] brson commented on #217
The tikv toolchain is upgraded to a version that supports 2018 now, so I think once it's had a few days on master w/o being reverted it's safe to go ahead. I'll do so sometime next week.

[2019-01-29 18:25] brson commented on #217
Oh, I haven't done anything with `const fn` in the posted patch yet.

[2019-01-29 18:26] brson opened #221 "Replace lazy static initializers with const fn"
Should be possible after upgrading to 2018 re https://github.com/pingcap/rust-prometheus/issues/217#issuecomment-453303909

[code]

[2019-01-30 09:54] breeswish commented on #218
@brson You may refer to this PR https://github.com/pingcap/rust-prometheus/tree/generic_label_size which is a prototype.

[2019-01-30 09:56] breeswish commented on #218
I just thought out other things I would like to carry in 1.0:

- Clean up Boxes, for example, as a public interface we should accept `impl Xxx` instead of `Box<Xxx>`.
- Refine interfaces so that it is easy to use even without macros
- Maybe completely remove the Protobuf encoding support (as well as protobuf related things?) because Prometheus 2.0 does not support protobuf protocol any more.

[2019-01-30 19:53] brson opened #222 "Make a pass over documentation"
Something I would personally like to do. Needed prior to 1.0.

[2019-01-30 19:55] brson commented on #218
Thanks @breeswish. cc @overvenus

Getting fail and prometheus 1.0 out is not explicitly a Q1 goal for me, so others probably need to help, particularly with prometheus, which I sense is more important to us than fail. I can probably get fail there myself since it has limited scope and is basically ready.

I've added https://github.com/pingcap/rust-prometheus/issues/222 to personally make a pass ov

[2019-01-30 20:18] brson commented on #218
Per my comments [here](https://github.com/pingcap/rust-prometheus/pull/216#issuecomment-458759614) I would like to make sure that the APIs for the crate both with and without protobufs has some kind of consistency before 1.0. As that PR stands right now, we will, at least temporarily, end up with quite different APIs based on whether protobufs is on or off.

And @fralalonde on that PR suggests we

[2019-01-31 10:08] breeswish commented on #218
Looks like we can release a new 0.x for rust 2018 upgrade because the 1.0 features will not be merged so quickly.

I implemented some ideas listed above in the [ng branch](https://github.com/pingcap/rust-prometheus/blob/ng/examples/counter_vec.rs), newly written, including:

- Cleaner and simpler API, no macro helpers needed
- Compile-time label length restriction
- No protobuf at all
- No namespa

[2019-02-02 13:06] breeswish commented on #98
Looks to be a false positive. Closing.

[2019-02-02 13:06] #98 closed

[2019-02-03 18:43] breeswish commented on #94
https://github.com/prometheus/client_golang/blob/12af604cf208d3105ced825c65231b4ecf00a8cc/prometheus/process_collector.go#L170

[2019-02-11 22:20] brson commented on #221
I peeked at the details of this task briefly and it does not look so simple; certainly not as simple as converting (in the above example) `register_histogram_vec!` to a const fn. That macro invokes plenty of dynamic behavior, like creating `Box`es.

@Hoverbear @overvenus do you have an idea of the transformation that needs to be done here?

[2019-02-12 20:47] Hoverbear commented on #221
In this case @breeswish would be a good resource

[2019-02-13 04:59] breeswish commented on #221
@brson I tried with `const fn` in 1.0 experiment and looks to be not a good choice currently, due to a lot of std functions necessary in building the metric are not marked as const fn.

[2019-02-13 22:59] Hoverbear commented on #221
This is problematic. :(

[2019-02-14 00:30] kennytm commented on #221
A `const fn` is *not* going to support the "register" part of `register_histogram_vec` even after the entire of rust-lang/rust#57563 is implemented, since a `const fn` cannot mutate something the function doesn't own (the `DEFAULT_REGISTRY`).

Not using the macro means user would write instead

[code]

[2019-02-14 04:21] breeswish commented on #221
Thanks @kennytm ! I think we can wait rust-lang/rust#57563 and then mark as more function as possible to be `const fn`, but might not be very useful in all cases (as the case kenny illustrated). We can relax the goal of this issue.

Additionally, I would like to mention that the process of registering and creating a metric can be simplified, for example, in 1.0-pre, we can just write:

[code]

[2019-02-22 02:53] brson commented on #217
I don't see any CI here. Not sure if that's a problem or not.

[2019-02-22 19:37] Hoverbear commented on #217
@brson This is an issue, nothing to test. :)

[2019-02-22 21:49] brson commented on #217
Lol 😆

[2019-03-14 23:11] brson commented on #218
I've unassigned myself as I don't see myself personally doing this work.

[2019-03-14 23:12] brson commented on #217
Reassigned to @nrc since he has a newer [PR up](https://github.com/pingcap/rust-prometheus/pull/226)

[2019-03-15 13:51] lucab opened #228 "registry: namespacing all registered collectors/metrics"
It would be nice to have an additional `prefix` field stored within `Registry`, so that all collectors/metrics registered with it are automatically namespaced with the relevant prefix (when encoding).

The usecase for this is shared/library logic recording internal metrics that are exposed by consuming applications. That is:
 * library counter: `outgoing_requests_total`
 * app0 consumer:
   - regi

[2019-03-15 14:35] lucab commented on #228
As a side-note, I think there are similar usecases for registry-wide `labels` too.

[2019-03-15 15:16] lucab opened #229 "[RFC] split out a PromRegisterer facade trait?"
Context: I'm currently trying to instrument library and application logic in an ergonomic way, see https://github.com/pingcap/rust-prometheus/issues/228 for an example.

I think there may be some benefits in splitting out `Collector` trait and registry-registering methods into a separate facade crate. Rationale is:
 * it can percolated to all libraries without the full overhead of current crate
 *

[2019-03-15 16:59] breeswish commented on #228
Good suggestion! Since golang client support this, we should consider this! I will do it when I'm free. Feel free to propose a PR before me.

[2019-03-15 17:01] breeswish commented on #229
I like the idea of decoupling metrics recording from exposition. Looks like it will be useful in our project TiKV as well. @overvenus How do you think?

[2019-03-17 18:12] lucab commented on #206
Partially related to that, it would be useful if you folks could push version tags to git in order to make history browsing easier.

[2019-03-17 18:28] lucab opened #230 "Expose the default registry"
Context: I'm currently trying to instrument library and application logic in an ergonomic way, see https://github.com/pingcap/rust-prometheus/issues/228 for an example.

I'm playing with the idea of structuring my library logic so that applications can inject their own `Registry` at initialization time. However some of them are currently using the default registry, and I don't see a way to get a h

[2019-03-18 19:55] Hoverbear commented on #206
A good point @lucab . Do you think we can take up this practice @breeswish ?

[2019-03-25 14:06] acdha commented on #222
Maybe I'm just being dense but it seems like docs.rs doesn't have any mention of the push feature except the aside in the prose on the first page. The example worked fine, of course, once I found it.

[2019-03-29 13:09] #230 closed

[2019-03-29 13:11] breeswish commented on #222
One notable problem in current documentation is that, the documentation (like members functions) of alias types are not shown. ([example](https://docs.rs/prometheus/0.5.0/prometheus/type.Counter.html)) This makes it very unfriendly for our most commonly used structures.

@nrc @brson Do you have some ideas about how we can improve it?

[2019-03-29 13:13] breeswish commented on #206
I totally agree with this proposal.

[2019-04-01 05:24] nrc commented on #222
Could use newtypes instead of type aliases? (That would have other advantages too) Otherwise, you could link to the docs for the aliased type in the documentation for the alias (you can already click through, but by adding text you could point users to the docs more explicitly). You could also discuss with the rustdoc team whether they would take a PR to change the behaviour (I expect that for `ty

[2019-04-01 22:14] brson commented on #222
Newtypes do look pretty reasonable though there are a number of impls to fill in.

But also it seems a reasonable idea to me that rustdoc should duplicate the appropriate impls in the newtype docs. Someone could file a feature request upstream and see if they are open to it.

[2019-04-07 13:00] breeswish commented on #222
@nrc

Thanks for the suggestion! I will try it!

[2019-04-09 02:59] #228 closed

[2019-04-24 15:51] jsham opened #236 "Panic in debug due to int overflow in collector_id"
**Describe the bug**
Running debug build might crash, due to collector_id overflowing (which is intended!)
This can be fixed by using `std::num::Wrapping` type for hashes.

```thread 'tokio-runtime-worker-1' panicked at 'attempt to add with overflow', /builds/..../_cargo/registry/src/github.com-1ecc6299db9ec823/prometheus-0.5.0/src/registry.rs:97:17```

[2019-04-25 02:09] breeswish commented on #236
Thanks for your report!

[2019-04-26 01:29] brson commented on #222
I've unassigned myself since I've been doing nothing on this for so long.

[2019-05-06 19:53] Hoverbear commented on #206
Ok, I'll put this on my plate in the next couple weeks.

[2019-05-07 04:32] breeswish commented on #236
Fixed in #237

[2019-05-07 04:32] #236 closed

[2019-05-10 10:24] crash-g opened #244 "Update hyper example to work with hyper 0.12"
It looks like the hyper example does not compile when using the latest version of `hyper` (0.12). I would be happy to open a pull request with an update, but my attempt at refactoring it requires enabling `default-features` for hyper, which were previously off. Would it be an issue?

[2019-05-16 14:42] rleungx commented on #244
PTAL @overvenus

[2019-06-06 04:29] jamessewell opened #247 "Registry doesn't return AlreadyReg"
Hi,

If I register a metric twice then I get a `prometheus::Error::Msg(m)` with the message:

[code]

I would *expect* that I would just get `prometheus::Error::AlreadyReg` - which is a lot easier to catch than a freeform String error which appears to have multiple uses.

The issue seems to be here:
https://github.com/pingcap/rust-prometheus/blob/4cbc0b6d948c0b73182574f370223e8241bb1811/src/regist

[2019-06-06 05:03] breeswish commented on #247
Thanks for the report! This behaviour indeed does not match the function's documentation. We will fix it.

[2019-06-06 05:48] jamessewell opened #248 "How to get a registered Metric"
Hi,

I'm parsing some YAML and making it into Counters and Gauges.

Sometimes some YAML might redefine a metric (name / help / type), which will then be set with different label values.  In this case when I add it to the Registry I get `prometheus::Error::AlreadyReg` - which is fine.

I now need some way of getting the previously made MetricVector and using it with `.get_metric_with_label_values()

[2019-06-09 21:05] ignatenkobrain commented on #244
Any news here? This would be very helpful for packaging prometheus for Fedora.

[2019-06-10 15:49] crash-g commented on #244
In case it's useful, here is my attempt (which, as mentioned, requires `default-features` for `hyper`):
[code]

By the way, my guess is that `default-features` was false because version `0.9` required `libssl-dev` installed, but it appears that version `0.12` does not require it anymore.

[2019-06-12 09:50] overvenus commented on #244
Hi @crash-g

Sorry for the super late reply.

It's totally OK to enable default feature since it's in [dev-dependencies]. Your example already looks good to me, it would be appreciated if you could send a pull request.

[2019-06-15 16:22] crash-g commented on #244
Hi @overvenus, I've opened a pull request with the changes: https://github.com/pingcap/rust-prometheus/pull/249.

Thanks for this library by the way, it's quite useful.

[2019-06-19 06:10] n4to4 opened #250 "Any new release of prometheus-static-metric?"
The last release (v0.1.4) was a year ago, and it doesn't compile on stable Rust because of `#![feature(proc_macro)]`, which is not needed for the current Rust versions, and is already removed on the master branch.

[2019-06-19 07:18] breeswish commented on #250
Thanks for the reminding. I will update it maybe in a week.

[2019-06-19 12:35] breeswish commented on #250
I dig into this issue a little today, looks like you will need `#![feature(proc_macro_hygiene)]` if you want to use static metric register macros like `register_static_counter_vec!`. However if you only use `make_static_metric!` then it will be fine.

[2019-06-19 12:36] breeswish commented on #244
#249 is merged.

[2019-06-19 12:36] #244 closed

[2019-06-19 12:38] breeswish commented on #248
Currently we don't have interfaces to iterate registered metrics. However you can do it indirectly by calling `gather()`..

[2019-06-19 21:28] n4to4 commented on #250
I see. Thanks a lot 👍

[2019-06-19 21:28] #250 closed

[2019-06-20 15:20] breeswish commented on #155
Gauge is not local. Closing.

[2019-06-20 15:20] #155 closed

[2019-06-20 15:20] breeswish commented on #147
See https://github.com/pingcap/rust-prometheus/pull/251

[2019-06-20 15:20] #147 closed

[2019-06-20 15:21] breeswish commented on #217
Fixed in https://github.com/pingcap/rust-prometheus/pull/242

[2019-06-20 15:21] #217 closed

[2019-06-20 18:07] jean-airoldie opened #253 "Export additionnal unix metrics"
I'd like to add some metrics exported by the process_collector feature. Things like [device status](https://docs.rs/procinfo/0.4.2/procinfo/net/dev/struct.DeviceStatus.html) for instance. However I have see two potential problems:

In the event that tons of additional metrics are added, one might want control over what the process_collector exports. I'm thinking of a builder pattern where you can

[2019-06-20 18:21] jean-airoldie commented on #253
Now that I think about it, exposing machine specific metrics as opposed to PID metrics might lead to duplicate data since multiple process can live on the same machine. Not sure what is the best approach in this situation.

[2019-06-22 15:33] breeswish opened #254 "(Local)IntHistogram"
We need to implement a int version for Histogram, like Counter and Gauge, since atomic float implementation (loop + `lock cmpxchg`) is much slower than native atomic integer instruction (`lock add`).

For example, according to benchmarks:

[code]

When there is no concurrent write, float atomic implemented via CAS is 1x slower than int atomic.

[code]

When there is concurrent write, float atomic

[2019-06-23 16:00] siddontang commented on #254
Mostly, we use the histogram to record operation duration in TiKV, using Int can help us, but we need to update Grafana.

[2019-06-23 16:08] breeswish commented on #254
Yes, currently we use seconds and we need to update to milliseconds in order to use IntHistogram.

[2019-06-30 20:40] 64 opened #256 "Update dependency on spin crate"
There’s currently some issues with `spin`’s RwLock implementation which you seem to make use of (in the worst case leading to unsynchronised reads/writes). You should update to the new version when the fix lands. See https://github.com/mvdnes/spin-rs/issues/65

[2019-07-01 02:22] breeswish commented on #256
Great thanks for the reminding! We will keep track of it.

[2019-07-27 16:43] lucab opened #258 "ci: master is broken on travis (beta/nightly only)"
#257 is currently failing on travis due to a seemingly unrelated issue: https://travis-ci.org/pingcap/rust-prometheus/jobs/564410723.

Beta and nightly are affected as follow:
[code]

It looks like last time master was built on travis was three months ago.

[2019-07-28 14:14] #258 closed

[2019-07-29 08:02] lucab commented on #258
@overvenus @breeswish @Hoverbear can any of you add a weekly or daily cron job on master in Travis settings, so that breakage can be spot earlier from the status badge?

[2019-07-29 17:13] Hoverbear opened #260 "Cron builds"
**Is your feature request related to a problem? Please describe.**

Add daily or weekly cron jobs to detect breakage early, as per https://github.com/pingcap/rust-prometheus/issues/258#issuecomment-515888540

**Describe the solution you'd like**

I think weekly is enough.

**Describe alternatives you've considered**

I considered daily, but it seems like overkill.

**Additional context**

https://

[2019-07-29 17:14] Hoverbear commented on #260
What do you think @breeswish ?

[2019-08-04 16:48] argent-smith opened #262 "Error coding the example."
Hi. I'm doing exactly the example of 'custom metrics' Readme section. It doesn't compile:

[code]

Your suggestions?

[2019-08-07 06:04] breeswish commented on #260
Maybe this can be done automatically by Travis CI?

[2019-08-07 06:09] breeswish commented on #262
Hi, looks like you built a `CounterVec` instead of a `Counter`. Did you successfully run this example in README?

[code]

[2019-08-08 23:12] Hoverbear commented on #260
Yes! https://docs.travis-ci.com/user/cron-jobs/

[2019-08-09 15:18] phyber commented on #94
Some of what a ConstMetric counter would be used for can probably be covered by https://github.com/pingcap/rust-prometheus/pull/261 now (eg. `reset` to `0`, `inc_by` counter to intended value), but it's still a hack.

The use case I have in mind for ConstMetrics is where you have a counter in the OS itself and wish to expose it. Currently (well, before PR https://github.com/pingcap/rust-prometheus

[2019-08-14 03:01] #253 closed

[2019-08-21 07:56] breeswish opened #265 "Use native `Enum` to define label enums in static metrics macro"
Currently we need to write:

[code]

It would be more friendly to write:

[code]

[2019-08-27 18:53] 64 commented on #256
The fix has been merged now, published as `0.5.2`.

[2019-08-28 02:23] breeswish commented on #256
Would you like to open a PR?

[2019-08-31 15:29] brndnmtthws opened #272 "Consider switching from procinfo to procfs"
The procinfo crate seems somewhat inactive, and there's an alternative called [procfs](https://github.com/eminence/procfs) which appears more well maintained.

It would be great to be able to capture additional process metrics for observability.

Additionally, it would be nice to mix OS level metrics in with process metrics. For example, I want to know how the process is affecting CPU pressure on

[2019-09-30 16:29] nagisa commented on #210
Now that `protobuf` dependency is optional all that is necessary to resolve this issue is to remove `protobuf` from the list of features enabled by default.

[2019-09-30 16:41] nagisa opened #277 "`--no-default-features --features=push` does not build"
**Describe the bug**

The crate does not specify its feature dependencies properly.

**To Reproduce**

Steps to reproduce the behavior:
1. Build this crate with `--no-default-features --features=push` flags

**Expected behavior**

Crate should build.

**Possible resolutions**

One possible option is to add a dependency on `protobuf` feature from the `push` feature. Another is to push the text expo

[2019-10-01 22:23] nagisa opened #280 "Consider changing `Registry::register/unregister` to remove the `Box` in the argument"
Currently `register` and `unregister` methods of `Registry` take `Box<dyn Collector>`, however in practice this means that most calls of this method will end up looking like this:

[code]

This feels unsatisfactory in multiple ways, for example I cannot sleep well knowing there’s an unnecessary double indirection in my code base (`Box` to `Arc` to the actual metric, could instead be just `Arc<dyn

[2019-10-02 14:15] nagisa opened #281 "Consider separate generics for `label` and `value` in `const_label`"
Currently the `const_label` methods look like this (in a semi pseudo notation):

[code]

This signature is perfectly fine when both `name` and `value` are the same type, but in my experience they, more often than not, want to be different (e.g. `&'static str` for `name` and something else for `value`).

IMO these methods should be rewritten to:

[code]

This would be a mostly backwards compatible

[2019-10-02 14:24] nagisa opened #282 "Consider replacing most owned data with a `Cow<'static, _>` where it is plausible to carry static data"
Currently a large number of APIs deal directly with owned strings, however in my experience most APIs deal with data that is most likely static: labels & sometimes their values, histogram buckets, namespaces, registry prefixes, etc.

Prometheus could internally use `Cow<'static, str>` instead of `String`  and `Cow<'static, [_]>` instead of `Vec<_>` lowering the memory overhead of prometheus metric

[2019-10-02 14:25] siddontang commented on #277
what do you think @breeswish @overvenus

IMO, it is better that if we can remove protobuf dependence.

[2019-10-07 16:20] breeswish commented on #282
Nice suggestion!

[2019-10-07 16:22] breeswish commented on #280
If I remember correctly, the `Box` lives for a reason that inside `register()` the collector need to be put inside a `Vec`, which has to be `Vec<Box<dyn Collector>>`.

[2019-10-07 16:23] breeswish commented on #280
However I agree that manual boxing is not friendly.

[2019-10-07 16:26] breeswish commented on #210
I think we might keep making `protobuf` feature enabled by default since it could still be very useful when treating with legacy prometheus. Close this issue since we can optionally disable it.

[2019-10-07 16:26] #210 closed

[2019-10-07 16:28] breeswish commented on #277
We do have options to remove the protobuf dependency. However currently we are not doing correctly when use the `push` feature.

[2019-10-08 21:48] Hoverbear opened #283 "Allow protobuf to be excluded with push feature"
**Is your feature request related to a problem? Please describe.**

In #278 we talked about allowing protobuf to be excluded when push is enabled.

Fulfilling this issue would mean one could use the push feature without using protobuf.

[2019-10-09 00:39] #277 closed

[2019-10-14 11:16] hvariant opened #287 "unexpected status code 200 OK when using push_metrics"
I'm getting `Msg("unexpected status code 200 OK while pushing to ...")` when pushing to prometheus pushgateway docker [v0.10.0](https://hub.docker.com/layers/prom/pushgateway/latest/images/sha256-5e252ed423c397fcab03c718714464a0a8f8a0b51e075f38a38519a3eac8f171).

**To Reproduce**
Run the push example to send gauge metric to a pushgateway running in a docker container.

**Actual behavior**
Crash at

[2019-10-14 11:21] hvariant commented on #287
from pushgateway [README](https://github.com/prometheus/pushgateway/blob/master/README.md):

[code]

[2019-10-21 03:53] eminence commented on #272
I took a look at how `rust-prometheus` is using `procinfo`, and it looks to be straightforward to switch to `procfs`.   `process_collector.rs` has some code that'll parse `/proc/pid/limits`, and this is missing from procfs.  I'll enhance procfs to also parse process limits, and then open a PR that'll make the conversion from procinfo to procfs.

[2019-10-27 15:50] brndnmtthws commented on #272
#290 addresses the main issue, however:

As a suggestion, before adding other metrics (like the pressure info I suggested), it might be worth collecting feedback to see what sort of metrics people would like to include.

Here are some of the things I'd like to see:

* CPU/mem/IO pressure
* IO stats from `/proc/[pid]/io`
* netstats: number of listeners, connections by proto, etc

[2019-10-27 17:08] eminence commented on #272
Would it be worth adding these types of host-metrics as a new crate?   (Either as a short-term development project before merging into rust-prometheus, or as a new companion crate to rust-prometheus)

[2019-10-28 04:19] breeswish commented on #272
@overvenus @brson @nrc How do you think about https://github.com/tikv/rust-prometheus/issues/272#issuecomment-546707185 and https://github.com/tikv/rust-prometheus/issues/272#issuecomment-546714574 ?

[2019-10-28 21:21] nrc commented on #272
I think this is a good idea!

These all seem good to have. I'd want to check the overheads for collection and exactly what info we can offer.

I think they should probably be an external metric which Prometheus can read, rather than part of this crate (but I admit I am not very familiar with the Prometheus architecture).

[2019-11-02 19:11] loony-bean opened #291 "How to set histogram data"
Hi!

The data I'd like to put into `Histogram` comes in aggregated form. This includes bucket bounds, counts, sum and total count. I do not have individual observations, and cannot use `observe` unfortunately.

Is is possible to create a new (or maybe reset existing) `Histogram` metric with already aggregated data?

[2019-11-03 10:23] orfest commented on #287
Same with pushgateway v1.0

[2019-11-06 10:38] hvariant commented on #287
Yeah, the official go client has a comment about this breaking change: https://github.com/prometheus/client_golang/blob/master/prometheus/push/push.go#L270

[2019-11-06 10:39] hvariant commented on #287
I should probably close this issue since my change is merged

[2019-11-06 10:39] #287 closed

[2019-11-08 09:45] #272 closed

[2019-12-04 14:11] sebastianjonasson commented on #287
Is this patch gonna be released anytime soon?

[2019-12-06 21:59] rustonaut commented on #287
Run into this just now, good to know it's fixed (but not yet pushed to cargo as far as I can tell).

[2019-12-16 08:30] augustocdias opened #299 "Question: how the static metric is faster?"
I was trying to understand how the static metric is faster if we have to use the `MetricVec` anyways to register them...

In [this example](https://github.com/tikv/rust-prometheus/blob/master/static-metric/examples/with_lazy_static.rs) you provided it will still use the `CounterVec`.

What is the real benefit of using it in the end?

[2019-12-17 09:27] breeswish commented on #299
Hi, static metric is faster due to avoiding the cost of calculating the label hash when specifying via label, as well as some initial cost when label is initially created.

In the example, `HTTP_COUNTER` is the static metric (for the metric vector), which has pre-built labels as fields. Specifying labels for static metrics is only a field access, instead of heavy calculation.

To be most efficient

[2019-12-17 16:13] benesch opened #301 "New release?"
Thanks for the library! Would it be possible to get a new release soon? In particular it would be nice to get #275 in a version on crates.io so that macro imports work properly in Rust 2018.

[2019-12-18 10:23] #299 closed

[2019-12-19 03:36] benesch commented on #301
Hey @breeswish, can you perhaps provide some context on why you marked this as "wontfix"? Happy to move this discussion out of GitHub issues, but I didn't see a mailing list or Gitter chat that would be more suitable.

[2019-12-23 13:58] stefan-at-dfinity commented on #301
Yes, a new release would also by appreciated for `Histogram` et al. now export functions such as `get_sample_sum(&self) -> f64` which is useful for testing.

[2020-01-24 16:32] bbigras commented on #256
This should be closed as already done https://github.com/tikv/rust-prometheus/pull/274

[2020-01-24 16:36] bbigras opened #305 "replace the abandoned spin dependency"
[cargo-audit](https://github.com/RustSec/cargo-audit) complains about this dependency.

https://rustsec.org/advisories/RUSTSEC-2019-0031

[2020-01-24 20:31] #256 closed

[2020-01-24 20:37] kennytm commented on #305
We are using `spin::RwLock` to fix #121, so `conquer-once` is out of question.

And perhaps we should replace `spin` by `parking_lot` anyway, if the benchmark approves.

[2020-02-07 13:23] steveeJ opened #306 "Histogram: adding a variable label crashes on register"
[This example](https://github.com/steveeJ/hello_rust/blob/b4530ae93a40092e3b6e1c11ee16319fb2745176/prometheus-histogram-value/src/main.rs) leads to the following crash at runtime:

[code]

In addition to the crash, I also can't find a way how to set a value for the variable at runtime, although that's probably better to track in a separate issue.

/cc @lucab

[2020-02-08 05:58] siddontang commented on #306
PTAL @breeswish

[2020-02-28 22:13] benesch commented on #301
Bumping this again. It's been two months. Is this project abandoned?

[2020-03-01 10:38] #301 closed

[2020-03-01 10:39] breeswish commented on #301
Sorry for the delay :(  I missed this issue. New version has been released now.

[2020-03-27 11:36] BusyJay opened #312 "Occasionally coredump when use auto flush"
**Describe the bug**

After tikv/tikv#6698 introduces auto flush, TiKV coredumps occasionally in tests. The backtrace looks like following:
[code]

It's related to jedisct1/rust-coarsetime#10.

[2020-03-29 00:27] funkypenguin opened #313 "Restore of a PVC into a deployment fails because : RestoreSession already processed for host "host-0""
**Describe the bug**

I try to do a restore into a deployment per docs, using the kubectl stash plugin. The init container is correctly injected into my deployment, but when the pod restarts, the init container does **not** restore any data, but logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to create a restoresession:

[code]

**Expected behavior**
The stash-init cont

[2020-03-29 00:32] funkypenguin commented on #313
Turns out this was likely a case of (human) operator error. The data was, in fact, restored, but I assumed it had failed because the immediate logs from the init container indicated so.

Does the init container force a pod restart upon successful restore? This being the case, how would I reasonably see the logs for the _first_ iteration of the init container when the restore was actually done?

[2020-03-30 03:44] breeswish commented on #313
hi, @funkypenguin Maybe you opened the issue in a wrong place?

[2020-03-30 04:32] #312 closed

[2020-04-09 19:43] n4ss opened #315 "Trying to use AtomicU64 and AtomicI64 which prevents to build for PPC 32 bits"
**Describe the bug**
Trying to have `rust-prometheus` as a dependency on `powerpc-unknown-linux-gnu` 32-bits, which yields the following:
`unresolved imports std::sync::atomic::AtomicI64, std::sync::atomic::AtomicU64`

These are not defined on this architecture.

**Expected behavior**
A clear and concise description of what you expected to happen.

**System information**
* CPU architecture: PPC32

[2020-04-09 19:52] n4ss commented on #315
(more specifically, rust-prometheus 0.8.0 , and the failing file is prometheus/src/atomic64.rs)

[2020-04-16 04:48] breeswish commented on #315
Thanks for the reprot!

AtomicI64 and AtomicU64 are newly added to provide IntGauge / IntCounter.

Looks like we may need to put them behind an arch gate, not providing such optimization counters (and thus prevent importing unsupported atomics).

@overvenus

[2020-04-19 14:41] Kixiron opened #319 "Use rust-audit-check over Deps.rs"
Deps.rs is unmaintained and not online, [rust-audit-check](https://github.com/marketplace/actions/rust-audit-check) as a workflow feature would be a much better way to detect bad dependencies

[2020-04-29 06:51] funkypenguin commented on #313
I totally did. Sorry, old age must be creeping up on me!

[2020-04-29 06:51] #313 closed

[2020-05-06 11:35] xMAC94x opened #321 "A Single IntVecCounter doesn't increase while others still do"
**Describe the bug**
I have prometheus + async-std + rouille in a project.
There is a weird constellation that a IntVecCounter isn't updated any more in async context.
When the webserver runs `registry.gather()` it doesn`t update the value of a specific metric.
I tried to create a minimal reproduction scenario, however i can only reproduce it with a specific
commit of my main project. steps to rep

[2020-05-06 13:45] breeswish commented on #321
Thanks for the report. Currently I failed to run your program under WSL. I will try with MacOS later.

[2020-05-06 16:23] xMAC94x commented on #321
oh it doesn't compile under windows??, weird i don't know why. do you have a specific error msg?

[2020-05-06 17:21] breeswish commented on #321
Hi, I found that actually your `NetworkMetrics` is constructed twice, because `Scheduler::new` is called twice. This might be the root cause of your problem.

I added the following code in `NetworkMetrics::new()` in `network/src/metrics.rs`:

[code]

It outputs two lines per second:

[code]

As you can see, there are actually two counter instances. One is counted correctly, and another is not coun

[2020-05-06 19:46] xMAC94x commented on #321
Hi breewish. wow thanks for doing the investigation !
that is actually a quite awesome hint.

I did some research based on this, especially on the dual counter and found the source of the bug.
Luckily for you the problem was 50cm in front of my monitor ;)

In case anyone finds this on google here the problem desciption.

I Could use global version, but i want the statistics to be per `network/src/

[2020-05-06 19:46] #321 closed

[2020-05-08 21:55] hdost commented on #260
Why not just run on merge?

[2020-05-17 08:52] pankhudinigam commented on #287
Any timelines on this fix being available to users?

[2020-05-17 13:11] #305 closed

[2020-05-18 18:14] teohhanhui commented on #221
A cleaner alternative is https://docs.rs/once_cell/1.4.0/once_cell/#lazy-initialized-global-data

[2020-05-19 19:14] mxinden commented on #287
@pankhudinigam as far as I can tell commit https://github.com/tikv/rust-prometheus/commit/404f38ae87ac269e17b5fa635dd9ddacfa89357b is included in v0.8.0 and v0.9.0. Are you still facing the same issue with these versions?

[2020-05-22 17:54] mxinden commented on #319
Either that or something like https://dependabot.com/. @lucab do I remember correctly that you had experience with the latter?

[2020-05-22 18:02] mxinden commented on #315
We could do something similar to https://github.com/spacejam/sled/pull/1076 falling back to a `Mutex<u64>` on platforms without `AtomicU64` along the lines of what https://github.com/bltavares/atomic-shim does.

What do you think @n4ss @breeswish?

[2020-05-22 18:47] lucab commented on #319
They do perform different tasks, but yes, I like it.
Dependabot takes care of watching dependencies and sending PR whenever new versions are available. It also highlight security advisories. We use it extensively across @coreos repositories, and I'm super happy with it.
However, it currently needs *write* access to a repository, thus the app must be set up by a repo owner (they are working to rela

[2020-05-25 11:51] xMAC94x opened #325 "Export `CounterVecBuilder` as in prometheus::core"
Hi devs,

## Proposal

TL::DR, I have a visibility problem when coding a small cache and i think a struct should be exported.

### Background
I had a fast loop that executed with_label_values() inside.
Which is some kind of a performance hit. From the 3 strings that identify this CounterVec, i know 1 from the struct. one is a u64, but in 99% a number < 10. the last one is guaranteed to be 0 < n <

[2020-05-25 12:49] lucab commented on #325
Thanks for report!
Looking at https://docs.rs/prometheus/0.9.0/prometheus/core/struct.MetricVec.html, there are indeed a bunch of private types appearing in public signatures (`CounterVecBuilder` and `GaugeVecBuilder` at least).
My guess is that this behavior is not intentional, as the types themselves are marked as `pub` but the top-level module is not re-exporting them.

[2020-05-25 13:23] mxinden commented on #306
@steveeJ https://github.com/tikv/rust-prometheus/issues/306 should fix the panic returning an error instead. In your example you are trying to create a `Histogram` with variable labels, as far as I know you would need to use a `HistogramVec` instead.

[2020-05-25 16:06] mxinden commented on #291
One rather obscure solution in case performance does not matter would be to replay the observations into a fresh Histogram each time one gets a hold of the aggregated form.

As of today I am not sure enabling users to manipulate the Histogram values manually is worth the introduced complexity.

[2020-05-25 16:11] mxinden commented on #281
As far as I can tell this was done in https://github.com/tikv/rust-prometheus/pull/324 by @NikVolf thus closing here.

[2020-05-25 16:11] #281 closed

[2020-05-25 16:21] mxinden commented on #280
The `Box` is needed to store multiple Collectors of different type via dynamic dispatching in the `RegistryCore`:

https://github.com/tikv/rust-prometheus/blob/227a1ce83bda0fd62115e4e914fc1b4d4cfc4907/src/registry.rs#L16

While reducing the noise of a `register` invocation it would as well hide the heap allocation.

I guess not as `unregister` only needs the collector ids.

I would guess `register

[2020-05-25 16:33] mxinden commented on #262
This seems to be resolved. @argent-smith feel free to re-open in case you are still facing any issues.

[2020-05-25 16:33] #262 closed

[2020-05-28 09:04] mxinden commented on #319
I would be in favor of:

1. Running rust-audit-check on a [scheduled audit](https://github.com/marketplace/actions/rust-audit-check#scheduled-audit).

2. Run dependabot.

In case there are no objections I can look into setting up (1). @breeswish would you mind setting up (2) as you are an owner of the repository?

[2020-06-02 05:25] breeswish commented on #319
Unfortunately installing an App requires admin permission to the org, which I don't have. Maybe we can add a `.dependabot` file as described in https://dependabot.com/docs/config-file/ ? @mxinden

[2020-06-02 05:33] breeswish commented on #325
This is indeed not a use case we covered before. How about simply make `counter`, `gauge` and `histogram` module `pub`?

[2020-06-02 05:35] breeswish commented on #315
@mxinden I prefer to drop them, since `IntGauge/Counter` is only a performance optimization and is not a standard structure. If we use `Mutex<u64>` to implement them, this "optimization" becomes even slower than the normal `Gauge/Counter`.. How do you think?

[2020-06-12 08:59] mxinden commented on #319
@breeswish as far as I can tell just adding the `.dependabot` file is not enough:

https://dependabot.com/docs/config-file/

I as well can only request access for dependabot for the `tikv/rust-prometheus` repository, but not grant it directly.

[2020-06-12 09:02] #306 closed

[2020-06-12 09:43] mxinden commented on #315
I am not sure I understand the issue at hand correctly. As far as I can tell both `AtomicU64` and `AtomicI64` are not supported on 32-bit PowerPC. Thereby this is not about the `IntGauge/Counter` optimization but rather about the fundamental building block of the entire library.

One could either:

- Build ones own `AtomicU64` via a `Mutex<u64>`

- or use `AtomicU32` (but somehow handle overflows

[2020-06-12 09:52] lucab commented on #319
I just got notifications on other projects (eg. https://github.com/coreos/afterburn/pull/428) that Dependabot now is part of the "Dependency graph" tab on each repository.
As such, it may be now possible to enable it only on this repository, without organization-wide access. I think it still needs a repo-admin to enable it, though.

[2020-06-15 21:10] xMAC94x commented on #325
that would prob work for me, if it's fine for you from the Api side

[2020-06-28 20:02] kaxap commented on #5
any news on this?

[2020-06-30 07:01] breeswish commented on #5
Hi, @kaxap currently there is no on-going work for Summary.

[2020-06-30 13:05] lucab commented on #260
I just checked and this is indeed the current Travis setup (I'm not sure when/who changed it). Closing.

Because stable+beta+nightly can drift into an undetected broken state, see https://github.com/tikv/rust-prometheus/issues/258.

[2020-06-30 13:05] #260 closed

[2020-07-01 04:56] svenstaro commented on #94
What's the current state on this? Are there any accepted workaround or such for enabling ConstMetric behavior in this library?

[2020-07-02 23:25] cswinter opened #332 "Documentation on combining metrics from multiple processes"
I accidentally noticed that when you run separate Rust processes logging metrics with this crate, both of the processes seem to export all the metrics from either process. This is really useful! (Though it seems like it could also lead to metric duplication if you are unaware.) Is there any documentation on how this is implemented and under what circumstances it can be expected to work? I haven't

[2020-07-03 09:11] lucab commented on #332
Thanks for the report! I'm having a bit of hard time trying to understand what you are describing though.

In general, an instrumented process usually gathers and exports whatever metrics collectors are attached to the default registry. All the macros in this crate internally refer to such default default registry, so that the implicit flow makes it easy for applications to just use this singleton

[2020-07-03 14:10] cswinter commented on #332
Oh OK, I must have just confused myself then and everything was actually running inside the same process.

On that note, if I did want to do something like this is there a good solution?
Specifically, say I have multiple services running on the same node, possible inside different processes, and I want to service Prometheus scrape requests for all of these from a single known port.
Ideally, this w

[2020-07-03 14:23] lucab commented on #332
@cswinter this is a general Prometheus question which I think can be better answered in usual Prometheus forums/MLs.
I can imagine a few approaches to this (including stacking multiple layers of Prometheus instances or using something like https://github.com/weaveworks/prom-aggregation-gateway), but I'm honestly not too knowledgeable on that topic.

[2020-07-06 03:04] #247 closed

[2020-07-06 14:14] svenstaro opened #336 "Implement reset or clear on Registries"
**Is your feature request related to a problem? Please describe.**
I dynamically create Metrics with a bunch of labels that are mostly the same but might change every now and then. My idea was to simply create a new Registry every scrape and then recreate all Metrics for that Registry. That works but is kind of inconvenient as you can't use any of the nice methods that use the global default Regis

[2020-07-06 15:34] bbigras commented on #305
Could we get a release with this fix to make `cargo audit` stop complaining?

[2020-07-07 09:11] mxinden commented on #332
Closing here. @cswinter feel free to open up another issue in case you have further questions.

[2020-07-07 09:11] #332 closed

[2020-07-07 09:26] mxinden commented on #336
Hi @svenstaro,

Thank you for the detailed feature request!

I would like to make sure that the API of the Rust client library (1) is difficult to misuse when used in a common scenario and (2) can support edge cases like your one described.

In my eyes adding a `.clear` method to the global registry opens another way of misusing the library for beginners. At the same time, as you described above,

[2020-07-07 09:37] mxinden commented on #305
@breeswish seems like you have done all the releasing in the past. Could you either do the release or quickly document the release process? In the latter case I am happy to do the releasing in the future. I just want to make sure I am aware of all caveats.

As far as I can tell we do the following, right?

1. Update the Changelog via a pull request.

2. Push a git tag on the changelog change commi

[2020-07-07 15:24] svenstaro commented on #336
I see your reasoning but I'm not sure I agree to the thesis that it makes misuse easier. After all, you can currently also `unregister()` Metrics and `clear()` would be essentially unregistering all Metrics. My logic is: Is it misuse to unregister all Metrics but not a single Metric?

[2020-07-14 09:43] lucab commented on #305
On other projects under the @coreos organization we have a workflow based on `cargo-release` plus a checklist. It goes like this (example from `coreos/zincati`):
 * release metadata in Cargo.toml:
 * a bug template and a quick link to it: https://github.com/coreos/zincati/blob/master/docs/contributing.md#release-process
 * a list of steps to follow: https://github.com/coreos/zincati/issues/318
 *

[2020-07-27 00:00] svenstaro commented on #336
Let's just leave it at that and I'll continue using custom registries.

[2020-07-27 00:00] #336 closed

[2020-07-31 13:22] mxinden commented on #305
@lucab I am fine with both my rather simple suggestion as well as your advanced suggestion, leaning towards the latter. Would you be willing to prepare the issue templates and do the first release? I am happy to take over from there on.

I would suggest each pull request alters the `CHANGELOG` accordingly. During the release process we can then follow the suggestion of `cargo-release`, right?

htt

[2020-09-01 22:22] adamchalmers opened #342 "Push doesn't work inside tokio async block"
**Describe the bug**
The `prometheus::push_metrics` function panics if called inside an async block (at least when using the Tokio runtime). It panics with the message 'Cannot drop a runtime in a context where blocking is not allowed. This happens when a runtime is dropped from within an asynchronous context.'

I believe this is due to the use of `reqwest::blocking::Client` in the implementation.

[2020-09-07 05:45] thatdevsherry opened #344 "Emphasising on "Exporter" Functionality"
I have just started using this crate and am new to Prometheus. It took me a while to figure out what exporters actually are. I believe this crate doesn't have a built-in **exporter**. If that is the case, won't it be better if we document that in the README?

For someone like me who's new to it, the question flow was:
1. How do I create a counter metric?
1. How do I get my metric to show up on Pro

[2020-09-07 12:22] thatdevsherry commented on #344
I noticed [this](https://github.com/tikv/rust-prometheus/blob/767b28cfe911ab24c270bc3c23e2c89ccc6691d3/examples/example_hyper.rs) example about using hyper but I don't see it setting up an endpoint named `/metrics`.

Wouldn't it be better to integrate this into the crate so we can use a command to create a proper `/metrics` endpoint? There is also [this](https://crates.io/crates/prometheus_exporte

[2020-09-08 05:21] thatdevsherry opened #345 "Mention use of "features" flag to use push_metrics function"
As mentioned in #189, we need to pass `features = ["push"]` when adding rust-prometheus as a dependency. It will be better if it's mentioned in the README so people don't have to go through issues to find this.

[2020-09-08 05:23] thatdevsherry commented on #345
I think I'm super dumb. I misread the Features section which does specifically this. Can we mention `features = []` to indicate that this is what the features section is talking about?

[2020-09-08 05:40] mxinden commented on #345
@thatdevsherry indeed the term features is a bit misleading as it can both imply Cargo `features` as well as general library features. Do you want to propose a pull request that would make this distinction more obvious?

[2020-09-08 05:46] thatdevsherry commented on #345
@mxinden sure 👍🏼

[2020-09-08 08:32] #345 closed

[2020-09-08 08:43] lucab commented on #344
I do agree this should be better documented, somehow.

In general the Rust ecosystem has several frameworks for building web-services, and this library is not trying to directly integrate with each one of them to avoid getting tangled in a dependency mess.
So yes, a reasonable way is to plug gather+encode into your web logic for the `/metrics` route handler.

[2020-09-08 09:11] thatdevsherry commented on #344
That seems fair. Thanks for the clarification.

So I believe we can simply tell this flow of using `gather` and `encode` with any web framework for rust since exporters are somewhat a fundamental part of Prometheus pull-based flow, and people reading up docs of Python and Java clients would expect some documentation about exporters here as well.

 Are you guys open to fixing this? I can work on cr

[2020-09-08 09:19] mxinden commented on #344
Yes. We very much appreciate any contributions, especially ones that add documentation.

Just to make sure we use the same vocabulary:

A Prometheus exporter is a small binary running along side the monitoring target (e.g. a database) exposing metrics about that target.

A Prometheus endpoint is an (HTTP) endpoint on a monitoring target itself that exports metrics about the target.

You can use th

[2020-09-08 09:34] thatdevsherry commented on #344
@mxinden thanks for the distinction b/w exporter and endpoint!

[2020-09-19 07:10] jiacai2050 commented on #102
Anyone working on this? I would like to contribute as my project depend heavily on this.

[2020-09-19 17:33] mxinden commented on #102
As far as I know there is no-one working on this @jiacai2050. Before you do, would you mind describing your use-case?

This crate supports local metrics via the [local module](https://docs.rs/prometheus/0.10.0/prometheus/local/index.html) which operates on non-thread-synchronized memory, thus bypassing the performance cost of atomic operations, eventually being _flushed_ back to their global threa

[2020-09-22 01:51] breeswish commented on #102
@jiacai2050 I think you can try with [thread local metrics + static metrics](https://github.com/tikv/rust-prometheus/blob/master/static-metric/examples/make_auto_flush_static_counter.rs). According to our experiments this is already very efficient, although theoretically core-local is even better than thread local :)

[2020-09-22 03:39] jiacai2050 commented on #102
@mxinden @breeswish Thanks for your suggestion.
local module is useful for when update metric in `for-loop`, but what I want is thread-local metrics update in its own thread, and only flush when prometheus scrapes.
AFAIK, thread-local metrics is better than core-local which requires flush when return from functions.
I will check what @breeswish mentions, see if it will meet my requirements.

[2020-09-22 04:04] breeswish commented on #102
@jiacai2050 The current implementation of the thread local metrics provided by this crate is an auto-flush one. Every time you update a thread local metric, the thread local last update time is checked, and then the thread local metric is synced to the global one if specified interval is elapsed. For both public Push and Pull interfaces, the value in the global one is used.

[2020-10-20 19:14] nikclayton-dfinity opened #356 "Additional Gauge methods that return a type that reverts on drop"
**Is your feature request related to a problem? Please describe.**

I have an HTTP server built using Hyper.

One of the metrics I track is the number of active connections from clients. This is a gauge.

The handler function looks like (lots omitted):

[code]

After launching this, I discovered that sometimes `metrics.http_server_requests_active.inc()` was not decremented.

It turns out that if t

[2020-10-22 15:42] mxinden commented on #356
I find this use-case to be very specific and thus out of scope for this library. Of course my opinion should not be considered the final one.

Instead of your suggested solution above, would it not make sense to encapsulate this logic in a hyper [middleware](https://docs.rs/hyper/0.11.2/hyper/server/trait.Service.html#middleware), thus being available to all your endpoints. I am sure others would

[2020-10-25 21:19] nikclayton-dfinity commented on #356
This is just one example. Another:

Suppose we start with a function like this.

[code]

And all the stuff in "Do stuff" can return errors. `SomeErrorEnum` has a `From` implementation for all of those errors, so you'd like to be able to use `?` for ergonomics and write:

[code]

But you can't, because if you do that then any error will result in the gauge not decrementing.

Instead you need to wri

[2020-10-26 10:48] lucab commented on #356
@nikclayton-dfinity I share the same feelings as @mxinden here.

The underlying problem is that there is an intermixing of logic that must be always executed (final metrics decrement) and early-exit codepaths (`Try` on fallible results).

In general, custom `Drop` implementations are just trying to hide the symptoms in such cases. They may be effective in some basic scenarios, but there are still

[2020-10-27 10:39] kornelski opened #358 "Tracking peak/max value"
I'd like to have a gauge that tracks a peak value of a metric (I have a gauge that goes up and down, and its temporary peak value is more interesting than current value at any time). I'm not sure what's the best way to implement it.

Currently gauges have only inc/get/set, so I have something like this:

[code]

but the get+set doesn't seem elegant, and isn't atomic. Maybe you could expose [fetch_

[2020-10-27 10:47] mxinden commented on #358
@kornelski could you expand on your use-case a bit more? Which Prometheus queries are you planning to run on this gauge?

In case you want to ensure not missing spikes across Prometheus scrapes, try modelling your use-case with two counters instead of one gauge. E.g. for a queue instead of one gauge tracking the size of the queue, have two counters, one incremented on enqueue one incremented on de

[2020-10-27 10:53] kornelski commented on #358
In my case it's number of concurrent server requests being processed. I increase a gauge when a request comes in, and decrease when it's done. The problem is that when the gauge is scraped, it's close to 0 most of the time, because requests are processed pretty quickly. But I have some very sudden traffic spikes, and I'd like to know how many requests hit my server exactly at the same time.

Solut

[2020-10-27 11:28] breeswish commented on #356
Maybe you can extend the gauge by yourself in this case, like:

[code]

[2020-10-27 12:00] breeswish commented on #358
How about simply increase a *counter* when a request comes in? Then you can the concurrency of the requests by using [`irate`](https://prometheus.io/docs/prometheus/latest/querying/functions/#irate)

[2020-10-27 13:14] kornelski commented on #358
No, that gives rate at which they come, but it can't see how many of them are running in parallel at the peak.

[2020-10-28 09:29] nikclayton-dfinity commented on #356
@breeswish That's pretty much what I've done in my code. My thinking in posting the issue was:

a) This felt general enough that it would be worth including in the crate instead of people needing to reinvent this wheel

b) Provide something for search engines to index so that the next person who has this problem doesn't have to spend the time that I did scratching my head over the cause.

[2020-11-03 10:37] lucab commented on #319
@mxinden I see dependabot updates are coming in, I think this can closed, right?

[2020-11-03 10:39] mxinden commented on #319
Right, missed this. Thanks @lucab.

[2020-11-03 10:39] #319 closed

[2020-11-03 14:36] mxinden commented on #358
Thanks for the details @kornelski.

I am not directly opposed to exposing some of the atomic operations to the user. I would like to suggest another alternative to the _two `Gauge`s approach_ though:

Say `GenericGauge::inc` would return the previous value. Also assume that you have a `Histogram` that tracks _the queue length on each new arrival_. In that case you can do the following on each new

[2020-11-03 21:28] kornelski commented on #358
I don't quite follow why subtract bucket counts. I think approximate maximum could be found by looking for the largest bucket with non-zero count.

So `Histogram` can work to get this information, but has a higher cost of tracking it, and only gives a quantized value.

[2020-11-05 12:43] tim-seoss opened #363 "Setting a counter from an externally acquired value is awkward"
**Is your feature request related to a problem? Please describe.**
I have a counter which I'd like to update using a value that I acquire from elsewhere (as an integer).  The API I'm using has semantics which are suitable for a Prometheus Counter https://prometheus.io/docs/concepts/metric_types/#counter - this doesn't map well to the prometheus::Counter methods

**Describe the solution you'd like*

[2020-11-05 14:55] lucab commented on #363
Thanks for the report. I think this is a duplicate of https://github.com/tikv/rust-prometheus/pull/303, and the discussion there has more clues regarding why setting counters to arbitrary absolute values is not part of the API.

[2020-11-05 16:33] tim-seoss opened #364 "Integer Counter type uses signed type (AtomicI64), when unsigned might be preferrable?"
`src/counter.rs` defines:

[code]
Looking at the Prometheus spec:

"A counter is a cumulative metric that represents a single monotonically increasing counter whose value can only increase or be reset to zero on restart. For example, you can use a counter to represent the number of requests served, tasks completed, or errors."

I was wondering why `AtomicU64` hadn't been used instead, since accord

[2020-11-05 22:16] alpire commented on #291
This would be helpful to output pre-collected data in the prometheus format. Would you be open to a PR adding a `pub fn observe_many(&self, v: f64, n: usize)` method to `Histogram`?

[2020-11-06 04:18] breeswish commented on #364
Thanks for pointing it out! Indeed unsigned should be better.

[2020-11-06 10:49] tim-seoss commented on #315
I think offering `AtomicU32` (or `AtomicUsize`) is probably the best thing to do on platforms which don't have 64 bit integer atomic types.  The Prometheus application itself (see links in #364) correctly handles wrapping counters, as long as they don't wrap more than once between samples.

Given the typical use case of Prometheus (data is collected at or below 1 minute intervals), and the relativ

[2020-11-06 12:15] tim-seoss commented on #315
See also: https://github.com/rust-lang/rust/issues/32976

[2020-11-08 10:56] tim-seoss commented on #363
Thanks for the answer.

My impression of that is: "you can't do that, so that we have an API similar to the Go api" (except that you can do it with the hacky workaround above), but you might be able to do it in the future, when #94 gets done?

[2020-11-08 11:48] tim-seoss commented on #94
When looking for this functionality in rust-promethues, `ConstMetric` seemed like a weird / non-obvious name.  `ConstMetric` feels more like something like a Rust const value .e.g. to be used to expose the build-time value of `env!("CARGO_PKG_VERSION_MAJOR")`.

I understand this bug report title follows the terminology of the Prometheus Go client library, but it feels like a bit of an awkward name

[2020-11-12 09:43] mxinden commented on #291
@alpire as elaborated above I don't think this special case is worth the additional complexity. Would a custom type implementing the [`Collector`](https://docs.rs/prometheus/0.7.0/prometheus/core/trait.Collector.html) interface work for you?

[2020-11-12 09:52] mxinden commented on #315
Thanks for the detailed suggestion @tim-seoss.

Having a platform specific `AtomicU32` on platforms that don't support 64bit atomics, which documents its overflow behavior, sounds good to me. Unless there are any objections by other maintainers, would you, @tim-seoss, like to make a proposal via a pull request?

[2020-11-12 12:18] tim-seoss commented on #315
OK, I'll see what I can do.

[2020-11-13 10:01] #364 closed

[2020-11-14 03:52] thatdevsherry opened #367 "Ability to choose b/w blocking and non-blocking client for reqwest"
## Problem
I had started working on the code I wrote involving prometheus sometime back. At that time the push function worked fine but now the code panics. The output of panic is:

[code]

## Debugging
The last line made me figure out that `rust-prometheus` is using the **blocking** reqwest client. I was using the `#[tokio::main]` attribute to make the `main()` fn async. I believe using this and

[2020-11-16 06:18] breeswish commented on #367
Hi, there is an on-going PR that provides non-blocking clients. Would you like to try with it? https://github.com/tikv/rust-prometheus/pull/343

Also see https://github.com/tikv/rust-prometheus/pull/343

[2020-11-16 17:25] thatdevsherry commented on #367
@breeswish oh my bad I should've searched the issues before, I'll keep an eye on issue #342 and PR #343

[2020-11-16 17:25] #367 closed

[2020-12-06 19:50] hdost commented on #94
#363 Could probably be closed as a duplicate.

Additionally I am curious @breeswish  or any other maintainer. There does seem to be a magnetism towards the golang_client as a template. This makes sense in many cases, but I am curious there is some sort of standard which could be applied to determine the when to worry about being directly compliant. As mentioned by @tim-seoss above ConstMetric conc

[2020-12-06 21:14] hdost commented on #254
Is there a block of example code which could be used to bench mark this?

[2020-12-06 21:45] mxinden commented on #254
@hdost today histograms don't support [anything other than `AtomicF64`](https://github.com/tikv/rust-prometheus/blob/master/src/histogram.rs#L162), thus there is no benchmark comparing `AtomicF64` with e.g. `AtomicU64`. Benchmark running `AtomicF64` [can be found here](https://github.com/tikv/rust-prometheus/blob/master/benches/histogram.rs).

[2020-12-07 18:10] hdost commented on #254
Yes indeed I wasn't sure if the `bench_counter_no_labels_concurrent_write` would appear in the bench tests.

[2020-12-09 14:28] hdost commented on #5
I would personally close this issue summaries are an anti-pattern and when using buckets can be easily derived. https://prometheus.io/docs/practices/histograms/

[2020-12-09 14:37] hdost commented on #325
It doesn't seem like there's a valid use case here which doesn't use one of the resources in `pub`. Should this be closed?

[2020-12-09 19:31] hdost commented on #198
It looks like the `static-metric` it's all up to date since `acef86b8ab13912eb30c7bf4a5e027b2a9cc04dc`

[2020-12-09 21:24] mxinden commented on #198
True. Thanks for the pointer @hdost. A `cargo upgrade` does not bump any major (for < `1.0` minor) versions. Given that `static-metric` is mentioned in the `workspace` section of the root `Cargo.toml` Dependabot should keep everything up to date.

[2020-12-09 21:24] #198 closed

[2020-12-15 21:58] robo-corg opened #374 "Async collector/gather interface"
This might be a bad fit given async metrics don't come up much but I figured I would file it here since I ended up writing something like this for work and it might be nice to upstream it.

**Is your feature request related to a problem? Please describe.**
It would be nice to be able to easily write gauges backed by futures or streams such as a sqlx query.

**Describe the solution you'd like**
If

[2020-12-16 16:14] mxinden commented on #374
First of all thanks for the detailed feature request @robo-corg.

As a first thought I find supporting async collectors to be too specific for this general purpose library. I would not consider it an anti-feature. In case there are multiple users interested in async collectors I think it is worth considering / working on a design.

Supporting async collectors is especially interesting for rust-pro

[2021-01-05 23:00] fggarcia opened #378 "could not find `export` in `syn`"
**Describe the bug**

Since last syn update

Updating syn v1.0.57 -> v1.0.58

try to build my project

[code]

[2021-01-06 15:01] mxinden commented on #378
As far as I can tell the corresponding change in `syn` is https://github.com/dtolnay/syn/commit/957840eba2c7f11c95e0227760d78dc481a91de7. If I understand correctly from the [examples](https://docs.rs/syn/1.0.55/syn/index.html#example-of-a-derive-macro) one should import `TokenStream` via `proc-macro` directly.

@fggarcia would you be interested in proposing a patch?

[2021-01-06 15:41] fggarcia commented on #378
Hi @mxinden, i create a PR #380, can you check it?

[2021-01-07 20:01] svenstaro opened #382 "How to properly set timestamp?"
I've been trying to set a timestamp on my metrics but I don't see an obvious way. What I ended up doing was

[code]

but that didn't really seem to set anything in the output. The API for this is obviously there but I can't find any examples about this.

[2021-01-08 10:11] mxinden commented on #382
`gauge.metrics()` will return a snapshot of the metric, `gauge.metric().set_timestamp_ms(1234));` sets the timestamp on that snapshot, not on the metric observation.

Long story short, timestamp functionality is part of the data model, but not supported by `rust-prometheus` today.

Following your issue linked here (https://github.com/svenstaro/site24x7_exporter/issues/75), I would recommend scrapi

[2021-01-08 14:46] #378 closed

[2021-01-08 14:50] mxinden commented on #378
@fggarcia new release of `prometheus-static-metric` is [tagged](https://github.com/tikv/rust-prometheus/tree/prometheus-static-metric-v0.5.1) and [published](https://crates.io/crates/prometheus-static-metric/0.5.1). Hope this unblocks everything on your side.

[2021-01-10 01:17] svenstaro commented on #382
Sadly that's not an option as the API backend asynchronously does those monitoring checks whenever it feels like it and a run might take some minutes. I can only poll and hope I don't miss any data. Works pretty well the way I have it actually so I'd just need manual timestamps.

[2021-01-13 16:45] Kixunil opened #384 "Switch from protobuf to prost"
**Is your feature request related to a problem? Please describe.**
Prost has several advantages over rust-protobuf:

* Produces more idiomatic code
* About four times shorter compile time ~30s vs ~2m
* Supposedly more responsive maintainers (this information may be outdated)

**Describe the solution you'd like**
Switch protobuf to prost. Sadly this is a breaking change because a type from protobuf

[2021-01-14 08:25] mxinden commented on #384
One advantage I would like to add:

- `prost` conveniently generates Rust code into `target/` without the code having to be checked into git.

In general I have had only good experience with `prost`. I do agree that, as a library, it is not only worth optimizing for run time, but as well for compile time. As you already noted, the use of `protobuf` is pretty entangled into the `promtheus` crate, t

[2021-01-14 10:03] mxinden commented on #382
For the record, I wouldn't be opposed to a pull request that would add support for timestamps.

[2021-01-20 13:11] breeswish commented on #384
LGTM.

However notice that Prometheus deprecates the protobuf wire format. So we only do this for compatibility consideration.

[2021-01-24 10:36] sazzer opened #386 "Using the register_* macros makes it difficult to test components"
**Is your feature request related to a problem? Please describe.**
I've been using the `register_int_counter_vec` macro to create and register my metrics, which works great. However, because it always registers with the default registry, this means that I can only call it once per thread. Running multiple tests thus hits problems because it's trying to register the same metric in different tests,

[2021-01-25 01:53] breeswish commented on #386
Considering that these macros do both things: simplify the creation of the metrics && register to the default register, how about accepting one more optional parameter to specify the register?

[2021-02-09 20:54] hdost commented on #254
I've started on a rather large draft here:  #388 before going too much further down the rabbit hole I wouldn't mind a once over. It doesn't compile and I am well aware of hat but I am curious if this path is worth pursing

[2021-02-10 18:28] mhristache opened #389 "High cpu usage"
**Describe the bug**
I have a multi-threaded TCP server that receives binary data, parse it and creates some Prometheus stats.

One of the threads is clogging the cpu (stuck at 100% CPU usage). I did a perf recording and it looks like most of the CPU is consumed by Prometheus lib (see bellow).

The strange part is that there are no segments sent by the clients but the CPU usage is still 100%.

Als

[2021-02-11 16:53] breeswish commented on #389
Currently I have no clues.. Is it easy for you to reproduce this problem after your server restarts?

[2021-02-11 18:26] mhristache commented on #389
No, I've only seen it one time and no idea how to reproduce it. Anything that you want me to check if I reproduce it?

Thank you

[2021-02-17 10:59] mhristache commented on #389
The issue popped up again on another system and I confirm the issue is caused by a deadlock somewhere in the Prometheus lib and I managed to get a backtrace:

[code]
The way I use the lib is to define metrics using `register_int_counter_vec!` inside `lazy_static` and bump them inside the threads. I create one thread per connection but I usually only have ~8 threads. Each thread will update the sam

[2021-02-21 17:36] mxinden opened #392 "Enhancement proposals for rust-prometheus"
During the last 10 month, helping to maintain this library, I had several ideas how to enhance _rust-prometheus_. I prototyped my ideas, starting from scratch end of last year, somewhat accidentally ending up with a full-featured client library - [_rust-open-metrics-client_](https://github.com/mxinden/rust-open-metrics-client). Below I want to describe the differences between _rust-prometheus_ and

[2021-02-22 04:30] breeswish commented on #392
I agree with most of the ideas. Actually I think a whole code refactoring is necessarily, considering that previously the interfaces are designed to be as much close with Golang's library as possible, which brings some performance pitfalls and not respecting some Rust best practices or utilizing some Rust nice features. Performance hacks like static-metrics are also using some outdated techniques.

[2021-02-22 09:44] lucab commented on #392
That's great to see! It looks like there is large low-level rework behind these changes, that is dropping the protobuf internal structures, am I reading that right? If so, is there any problem in dropping PB from this crate?

[2021-02-22 23:00] adamchalmers commented on #342
Actually, this is fixed in Tokio 1.0, changing the `Cargo.toml` from the example to use

[code]

will cause the program to terminate successfully.

[2021-02-22 23:00] #342 closed

[2021-02-23 04:24] Yisaer commented on #392
/ping

[2021-02-23 20:42] mxinden commented on #392
@lucab I am not sure I understand correctly. Are you referring to _rust-prometheus_ or _rust-open-metrics-client_? In case you are referring to the former (_rust-prometheus_), I would be in favor of at least dropping the intermediary protobuf format in _rust-prometheus_, maybe even drop protobuf support all together. See https://github.com/tikv/rust-prometheus/pull/387#issuecomment-780697444 for d

[2021-02-24 21:39] clux opened #393 "Exemplar support"
It would be awesome to have the ability to attach trace ids on histograms and counters as per the [OpenMetics specifictaion](https://github.com/OpenObservability/OpenMetrics/blob/master/specification/OpenMetrics.md#exemplars-1) so that we can link metric data points to traces (like in [grafana tempo](https://grafana.com/oss/tempo/)).

**Proposed Solution**
Something similar to what the [golang cli

[2021-02-25 05:10] Yisaer commented on #392
@mxinden I wonder whether you are working on this issue, if not, I'd like to take this issue. Most of the ideas LGTM.

[2021-02-25 14:36] mxinden commented on #392
@Yisaer I am not working on any of these proposals for _rust-prometheus_ right now, so please feel free to tackle any of them. While a bit cumbersome, I would suggest writing a detailed change proposal before getting started on any of them. That should make sure everyone is on the same page and non of the coding work is in vain.

[2021-02-25 19:21] adamchalmers opened #394 "New release with reqwest 0.11"
Hi! I see that the master branch of this crate is using reqwest 0.11, but it hasn't been released yet. Could you please consider cutting a new patch release so that I can pull in reqwest 0.11? Currently my Rust project is pulling in reqwest 0.10 and 0.11, from Prometheus and from another crate. Obviously I'd rather not include compile two copies of reqwest every time I run my tests :)

Thank you!

[2021-02-26 03:57] Yisaer commented on #392
Thanks for your advice. I will list a change proposal before I started to code.

[2021-02-26 03:57] Yisaer commented on #392
/assign

[2021-02-28 17:27] sazzer commented on #386
Sorry - Real life! Yes, that additional parameter would pretty much solve it :)

[2021-03-03 02:03] moustafab commented on #386
@breeswish is there something in the works for this? if not I wouldn't mind implementing it, as I need this for a project currently using this crate

[2021-03-03 09:43] lucab commented on #386
@moustafab I don't think anybody is working on this right now, feel free to go ahead and submit a PR whenever you are ready for a review.

[2021-03-05 01:26] nrc commented on #394
+1 note that because reqwest uses tokio, we end up pulling in net2 which is unmaintained and thus triggers a vulnerability warning from cargo audit.

[2021-03-05 13:44] #394 closed

[2021-03-05 13:49] lucab commented on #394
Tagged: https://github.com/tikv/rust-prometheus/releases/tag/v0.12.0
Published: https://crates.io/crates/prometheus/0.12.0

[2021-03-06 01:09] nrc commented on #394
Thank you!

[2021-03-07 21:14] Wilm0r commented on #382
Thanks for filing this, this confirms my suspicion that the timestamp-related code wasn't plumbed all the way through yet. :)

I'd love to have this, my main use for it is when writing exporters that pass through from elsewhere (for example wireless sensors). It's good to be able to timestamp all datapoints since at /metrics scrape time they're already known to be stale.

(I'd send a PR but this i

[2021-03-08 19:17] moustafab commented on #386
PR submitted, let me know if you need anything for that to land, I'll get it wrapped ASAP.

[2021-04-20 14:50] mhristache commented on #389
I realized my issue was not related to rust-prometheus. The high cpu usage reported for rust-prometheus was just a symptom of another issue in my code causing an infinite loop. Sorry for the wrong report.

[2021-04-20 14:50] #389 closed

[2021-08-20 13:40] LukeMauldin opened #407 "http scrape example"
**Is your feature request related to a problem? Please describe.**
I am familiar with the Go prometheus library and it has multiple examples of implementing metrics with the Go library and exposing them to be scraped by Prometheus (see example below). I would like to have a similar example I can follow in Rust.  I know that Rust, unlike Go, does not have an http server built into the standard libr

[2021-08-20 14:52] lucab commented on #407
Are you looking for something like https://github.com/tikv/rust-prometheus/blob/v0.12.0/examples/example_hyper.rs maybe?

[2021-08-20 16:22] LukeMauldin commented on #407
Yes, thank you, please close the issue.

[2021-08-20 16:25] #407 closed

[2021-08-23 08:27] vbmade2000 opened #409 "Example for operations per second?"
Any idea on how to have a metric for the number of operations per second? Like a number of requests/second. I am using the rust-prometheus along with actix_web_prom to use it with Actix.

[2021-08-23 13:09] breeswish commented on #409
Hi, you can just increase the counter every time you process an operation. Then Operations/Sec can be calculated by the Prometheus's `rate()` function. See https://prometheus.io/docs/prometheus/latest/querying/functions/#rate

[2021-08-24 05:19] vbmade2000 commented on #409
Okay. `rate()` function can be used in PromQL. Correct?

[2021-08-24 20:23] breeswish commented on #409
Prometheus saves the timestamp during each scrape.

[2021-09-08 13:22] ErwanDL opened #412 "Export intermediary metric types generated by make_static_metric!"
**Is your feature request related to a problem? Please describe.**
My current use case is the following : I want a metric that records HTTP requests with 2 labels (the method, and the response code). I can define my metric like this :
[code]

Now, I use Hyper and want to write a function that automatically increments the proper counter by `match`ing on the status code of the Hyper response. So I w

[2021-09-18 03:13] yaa110 opened #413 "Metric collectors without locking"
**Is your feature request related to a problem? Please describe.**
In a project i have synced all updates using a channel, in this scenario there is no need to use `RwLock` or `Atomic` values to provide `Send` and `Sync`.

**Describe the solution you'd like**
A `feature` that enables collectors without lock.

[2021-09-27 14:19] DCjanus opened #414 "`procfs 0.9.x` cause panic on linux which version number greater than 255"
`procfs 0.9.x` assume numbers in Linux kernel version is small than 256, and parse text from '/proc/sys/kernel/osrelease' to [three `u8`](https://docs.rs/procfs/0.9.1/procfs/sys/kernel/struct.Version.html)

And since Linux has been release [a version which patch version is 256](https://lwn.net/Articles/845206/), [this line in procfs 0.9.x](https://github.com/eminence/procfs/blob/86d71e5235a36fb071

[2021-09-27 14:21] DCjanus commented on #414
This change is import to some people, please release a new version.

[2021-09-27 15:20] lucab commented on #414
Release PR at https://github.com/tikv/rust-prometheus/issues/414.

[2021-09-28 06:56] #414 closed

[2021-10-05 18:55] WaDelma opened #417 "How to create histogram with labels"
I am making a game using ECS pattern with specs. I have 35 systems all in different files. I want to create on histogram for each that tracks how long one tick of execution takes.

If I just create `<system name>_system_duration_seconds` histograms, it is really hard to create single panel in graphana that would show all of the systems together (You [need](https://stackoverflow.com/questions/57788

[2021-10-13 06:40] jolestar commented on #5
Any news on this?

I try to find a way to integrate Prometheus with AWS CloudWatch, CloudWatch does not support Histogram([ContainerInsights-Prometheus-metrics-conversion](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContainerInsights-Prometheus-metrics-conversion.html)), so I try to replace histogram with Summary(https://github.com/starcoinorg/starcoin/issues/1738).

[2021-10-15 07:25] iosmanthus opened #419 "Support Prometheus HTTP API"
**Is your feature request related to a problem? Please describe.**

This library only provides pushing/pulling metrics features, without the proper manner to interact with Prometheus like API provided in [client_golang](https://github.com/prometheus/client_golang/blob/master/api/prometheus/v1/api.go#L222). Programs could use these APIs to implement features like telemetry.

**Describe the solution

[2021-10-15 07:43] lucab commented on #419
Thanks for the report.
However I'd say that the scope of this library is mostly around instrumenting Rust applications.
A client library for the Prometheus service would be nice to have (I'm not aware of any right now), but I feel that it would be out of scope for most of the current consumers. I'd rather not impose that burden to everyone by stuffing more things into the existing crate.

Thus, I'

[2021-10-18 16:51] fggarcia opened #420 "static-metric still use prometheus 0.11"
is it possible to update static-metric prometheus dependencies to 0.13?

Thank you so much!

[2021-10-25 21:50] Mikadore opened #423 "Support time stamps when exporting metrics"
**Is your feature request related to a problem? Please describe.**
In order to backfill metrics into prometheus, time stamps are needed. Currently, this crate doesn't provide a way to add time stamps when exporting using either `ProtobufEncoder` or `TextEncoder`

**Describe the solution you'd like**
Add a method to `ProtobufEncoder` and `TextEncoder`, perhaps something like `encode_with_timestamp`

[2021-10-30 17:06] rkudryashov opened #424 "Memory usage difference between a process and a container"
I use `process` feature of the crate and cAdvisor for memory usage monitoring of a process and a container respectively. I am wondering why those metrics looks like this:

<img width="1552" alt="Capture" src="https://user-images.githubusercontent.com/37952224/139542129-8ac6565f-d500-4812-8fa0-b1b1b92a113d.PNG">

because the visualization shows that the process consumes more memory than the whole c

[2021-11-02 14:49] Mikadore commented on #423
This can be done using:
[code]

[2021-11-02 14:50] #423 closed

[2021-11-02 14:57] Mikadore opened #425 "Metrics::set_timestamp_ms incorrectly implies milliseconds should be used"
`Metric::set_timestamp_ms` is incorrectly named `_ms`, even though both prometheus and the Openmetrics standard expect this to be in seconds. Furthermore, since the code just stores the number as an `i64`, the semantics of the function don't care about units.

`Metric::set_timestamp_ms` should be either renamed to `Metric::set_timestamp_s` or just purely `Metric::set_timestamp`. In any case, it sh

[2021-11-02 15:00] lucab commented on #423
Welcome and thanks for the report. Are you maybe chasing the same feature request as https://github.com/tikv/rust-prometheus/issues/382?

[2021-11-02 15:04] lucab commented on #409
Tentatively closing this, as there doesn't seem to be a real bug here.

[2021-11-02 15:04] #409 closed

[2021-11-02 15:04] Mikadore commented on #423
Hello, yes, it seems I didn't search carefully enough. Thanks :D

[2021-11-03 21:52] lucab commented on #425
Thanks for the report. It would be good if you could link some references for your statements. According to https://prometheus.io/docs/instrumenting/exposition_formats/#comments-help-text-and-type-information, that field is:

[2021-11-03 23:46] Mikadore commented on #425
Hi, sorry for that. The relevant link is [here](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#timestamps). We needed the timestamps at work in order to support backfilling metrics into prometheus, so I can confirm firsthand that using promtool's `promtool tsdb create-blocks-from openmetrics` expects the metrics to be in seconds, meaning that using millis r

[2021-11-04 09:49] lucab commented on #425
Oh well, it is sad that OpenMetrics has a different timestamp format, but in the end it's an explicitly new/separate standard so they are free to diverge however they prefer. Additionally, it seems that the Prometheus field is a signed integer, while the OpenMetrics one is a float with nanoseconds precision.

[2021-11-04 11:37] mxinden commented on #425
For this crate, the the correct reference would be the one below, given that it implements the old Prometheus output format and not the new OpenMetrics output format.

https://prometheus.io/docs/instrumenting/exposition_formats/#comments-help-text-and-type-information

`promtool tsdb create-blocks-from` expects the metric file to be in the OpenMetrics output format, and not the old Prometheus outp

[2021-11-04 12:00] lucab commented on #425
I split some further `promtool` discussion to https://github.com/prometheus/prometheus/discussions/9661.

[2021-11-10 13:35] lucab commented on #425
Got some further feedback on the upstream discussion. The summary is:
 * "old" Prometheus format and "new" OpenMetrics format are seemingly similar but incompatible, at least on the topic of timestamps (by design)
 * `promtool tsdb create-blocks-from` only accepts the OpenMetrics format and they have no plans to support the "old" format

Thus both this library current behavior and `promtool` are c

[2021-11-10 13:35] #425 closed

[2021-11-13 13:58] roidelapluie commented on #392
Hello o/

Julien from the Prometheus team here. I'd love to have an officially supported Prometheus rust client. Based on this discussion, we are likely to adopt https://github.com/mxinden/rust-open-metrics-client as an official implementation, under the Prometheus organisation.

it does not mean that rust-prometheus has to go away, some programming languages have different client libraries. Howev

[2021-11-13 20:47] lucab commented on #392
For reference, we are already starting to see users stumbling on old-Prometheus vs OpenMetrics incompatibilities (eg. https://github.com/tikv/rust-prometheus/issues/425 on timestamps format). Making a clearer split between old-Prometheus and new-OpenMetrics may possibly help in that regard.

This library is still deeply rooted into Prometheus v1 world (with v1 protobuf et al.), so I kinda agree th

[2021-11-15 09:21] roidelapluie commented on #392
Interestingly our client libraries are called prometheus, not openmetrics.

In Python, there is "prometheus" which is community maintained and "prometheus-client" which is official. We could have the same pattern.

[2021-11-16 05:05] rkudryashov commented on #424
If it is needed, you can launch the [the project](https://github.com/rkudryashov/exploring-rust-ecosystem/tree/master/mongodb-redis) to reproduce the subject (`docker compose up`)

[2021-11-22 10:50] karnauskas commented on #315
I believe having  same issue, while building for mips:

[code]

[2021-12-24 06:59] zsedem commented on #374
I think as a low-hanging fruit you should mention something about this in the `README.md`, so when some newbie comes around (like me), will have a hint.
My question is simply whether is it safe to call this library from async code or not? I imagine it is, but my thread will do the calculation, so I should be aware of that.
Anyway, great library, it took me 5 minutes to set up an endpoint with a co

[2021-12-28 07:25] pymongo opened #429 "feat(process): ProcessCollector use IntGauge to provide better performance"
similar change like this PR in Tikv: https://github.com/tikv/tikv/pull/11308

[2021-12-28 07:25] pymongo commented on #429
/assign

[2022-01-03 10:30] #429 closed

[2022-01-20 10:02] saleemjaffer opened #431 "Example in examples/example_push.rs does not compile"
**Describe the bug**
The code in `examples/example_push.rs` does not compile

**To Reproduce**
Run the code in examples/example_push.rs. I ran it using `cargo run --features="push"`

This is the error I get:

[code]

**Expected behavior**
The code should run fine.

**System information**
* CPU architecture: `2.6 GHz 6-Core Intel Core i7, MacOS Monterey`

[2022-01-20 23:03] keepsimple1 opened #432 "doc comments not matching with method return type"
https://github.com/tikv/rust-prometheus/blob/ac86a264223c8d918a43e739ca3c48bb4aaedb90/src/encoder/mod.rs#L19-L20

This method actually returns `()` if successful.

[2022-01-21 09:09] mxinden commented on #432
Great catch. Mind sending in a patch @keepsimple1?

[2022-01-26 19:10] keepsimple1 commented on #432
@mxinden please take a look at the linked PR when you have time?  Thanks.

[2022-01-27 11:36] mxinden commented on #432
Unfortunately I no longer have permissions on this repository to e.g. approve CI to run. (Not complaining, this is fine, I haven't been involved much recently :heart:.)

Maybe @lucab can help?

[2022-02-06 08:34] rajaSahil opened #435 "Why value module is private?"
While implementing a new collector, I am not able to initialize Value. Is there any reason to make it a private module?

[2022-02-08 04:18] breeswish commented on #435
@rajaSahil Hi, currently the publicly exposed interfaces are standard metric types like Counter, Histogram and Gauge. Could you illustrate what kind of Value type do you need when implementing a collector?

[2022-02-21 16:56] rajaSahil commented on #435
Was trying to write a custom collector and have figured it out.
Closing this issue as it is not required.

[2022-02-21 16:56] #435 closed

[2022-03-14 03:24] thomaseizinger commented on #210
Is there a chance to revise this decision? protobuf is an extremely heavy dependency:

Features that are once enabled can never be disabled again and it is likely that a library author that adds metrics to their library forgets to say `default-features = false` which results in every application having to pay for that even if they are not using the protobuf encoding.

[2022-03-29 21:46] Antiarchitect opened #438 "remove_label_values and Inconsistent label cardinality"
Assume I have a IntCounterVec `client_tls_cert_error` with labels `cname` and `error` with which I track client certificate errors 99% are certificate expired.

In case cert goes back to normal is there any way like `remove_label_values` remove all `client_tls_cert_error` with matching `cname` label ignoring `error` label?

[2022-04-06 13:39] adamchalmers opened #439 "Cut new release?"
Hi all! Just wondering if y'all can cut a new release, so that my projects which use this crate can move away from parking_lot v0.11 -- basically just a release to get ea68788420e97b6a58fb65cc2539676923c6a75c out.

[2022-04-15 23:40] #420 closed

[2022-04-21 15:52] adamchalmers commented on #439
Friendly ping to @lucab who cut the last release -- any chance of getting a patch release out for this?

[2022-04-21 17:43] lucab commented on #439
I had some recent troubles which pushed me offline for a bit, and in turn this slipped off my radar.
I hope to get the new version published in the next few days, I started the release train at https://github.com/tikv/rust-prometheus/pull/440.

[2022-04-21 21:23] adamchalmers commented on #439
Thanks very much, I appreciate it and I hope your troubles ease up soon.

[2022-05-20 10:14] Kiskae opened #442 "cross-compilation broken for 32-bit builds"
**Describe the bug**
when cross-compiling for 32-bit linux, the `libc::sysconf` call returns a 32-bit integer which is incompatible with the `i64` it wants to be stored in.

PR #430 made this change but it also removed the cast that made the previous version work on all platforms.

**To Reproduce**

Cross-compile using the `i686-unknown-linux-musl` target.

        |                          --- e

[2022-05-26 12:35] eutampieri commented on #315
I have the same issue on `mips-unknown-linux-musl`

[2022-05-31 03:23] lichuan6 opened #443 "panic in processcollector"
Hi, I'm using this library to export metrics in [Pulsar Elasticsearch Sync](https://github.com/lichuan6/pulsar-elasticsearch-sync-rs), however, ProcessCollector occasionally causes tokio runtime worker panic. Below is the backtrace:

[code]

I'm using prometheus 0.12.

Thanks

[2022-05-31 05:15] breezewish commented on #443
Seems that this is not the first time panic occurs, as the `once` will keep panic as long as the initial once_fn is paniced. Could you find some previous panic messages that is not reported as "poisoned"?

[2022-05-31 06:42] lichuan6 commented on #443
Thanks @breezewish for your reply.
I could find some panic messages like:

[code]

But I'm not sure these panics are related.

Most of the time, 'Once instance has previously been poisoned' is the ONLY panic.

[2022-05-31 06:56] lucab commented on #443
I think this is a duplicate of https://github.com/tikv/rust-prometheus/issues/414, which should be already fixed in latest release.

[2022-05-31 21:01] mattiecnvr opened #444 "Const label and metric labels can cause duplicate labels without errors"
**Describe the bug**
Currently if you define const labels and then accidentally add a label with one of the names of the const labels it will get added twice without any errors.

**To Reproduce**
Steps to reproduce the behavior:
[code]

End result is that using my metric yields an entry such as
[code]

**Expected behavior**
Creating the metric with a label that is already defined by the const labe

[2022-06-27 13:12] #442 closed

[2022-07-26 06:47] jaudiger opened #448 "Migrate from lazy_static to once_cell"
lazy_static!, while a declarative macro, is a macro nonetheless. It can add quite a bit of additional compilation time cost. once_cell::sync::Lazy does the same thing with generics, and can be used more flexibly (i.e. non-static lazily initialized values), and has been proposed to be added to std: https://github.com/rust-lang/rfcs/pull/2788.

Famous Rust projects already did the transition, such a

[2022-07-26 07:02] lucab commented on #448
Thanks for the report. Sounds like a good idea! I'll be happy to review a patch doing this if anybody wants to tackle it.

[2022-07-29 12:11] Nilstrieb opened #449 "Frequent major releases without breaking changes"
Prometheus, like all other crates, is supposed to be following [cargo semver](https://doc.rust-lang.org/cargo/reference/resolver.html#semver-compatibility) with regards to versioning. `prometheus` seems to not fully follow that model.

Looking at the CHANGELOG.md, no breaking changes are made in `0.x` versions. But cargo treats `0.x` changes as major changes and does therefore not unify two versio

[2022-07-29 15:57] lucab commented on #449
Thanks for the report.
`prometheus` is already following semver.
Latest `0.13.1` release is compatible with the previous `0.13.0` one.
The ones before had some public-API changes which correctly resulted in semver breaks. Changelog only gives quick one-line summaries, but some improvements/bugfixes do affect the public API.
Overall, it is correct to consume (the current version of) this library as

[2022-07-29 15:57] #449 closed

[2022-07-29 16:54] Nilstrieb commented on #449
Ah ok, thanks for the quick response. (I would suggest you put the breaking changes clearly into the changelog then)

[2022-07-30 21:33] jaudiger commented on #448
Hi @lucab, thanks, I just opened a PR for it !

[2022-08-01 07:02] alin-at-dfinity opened #451 "`process_cpu_seconds_total` should not be an integer"
#430 switched `process_cpu_seconds_total` from an (`f64`) `Counter` to an `IntCounter`, for performance reasons.

Issue is that processes that don't use a lot of CPU will now have 1 second CPU usage spikes every so often instead of a more or less flat usage with spikes occurring when they actually do, not when 1 second of CPU usage has accumulated. I.e. this has turned the metric from a smooth gro

[2022-08-01 07:07] alin-at-dfinity commented on #451
Oh, almost forgot: #430 also switched `process_start_time_seconds` from a `Gauge` to an `IntGauge`. While all other changes in that PR were reasonable (file descriptors, memory usage), `process_start_time_seconds` is also not an integer. Linux (at least) provides the process start time as a floating point value and truncating it to an integer discards useful information (e.g. if I want to know the

[2022-08-18 03:30] lerencao commented on #315
same here, any progress on this ?

[2022-08-23 09:48] yds12 opened #453 "`push_metrics` panics inside tokio"
**Describe the bug**
Calling `push_metrics` from an `async` function with `tokio` causes this error:

[code]

**To Reproduce**
Take push example, annotate `main` with `#[tokio::main]`, using `tokio = { version = "1.20", features = ["rt", "rt-multi-thread", "macros"] }` in the `Cargo.toml`. Running the example will produce the error above.

**Expected behavior**
No panic or `async`-compatible alter

[2022-08-23 14:10] yds12 commented on #453
It's quite simple to make it work, basically just need to not use `reqwest::blocking::Client`, and put some `async` and `await` here and there. But of course that would be a breaking change and force people to use async, so I don't know what you guys would like to do, maybe put the async code behind a feature flag? If you are interested I can send a PR for this.

[code]

[2022-08-24 08:08] CHCP opened #454 "Compile latest version failed on Linux"
Hi there,
  I can't compile latest source code on Linux, would anybody like to have a look at this, many thanks.

**Describe the bug**
Compile latest version of "rust-prometheus" failed on Linux

**System information**
* CPU architecture:    x86_64
* Operation System: Ubuntu 20
* Rustup toolchain : nightly-2022-04-07-x86_64-unknown-linux-gnu
* Rustc 1.62.0-nightly (8f36334ca 2022-04-06)

**To Repr

[2022-08-24 09:19] lucab commented on #454
Thanks for the report. I think this build failure is due to your toolchain, which is an ancient unstable one.
Please consider using the official stable toolchain, or upgrade to a newer nightly one (current one is `1.65.0-nightly`).

[2022-08-24 09:19] #454 closed

[2022-08-24 09:23] lucab commented on #453
Thanks for the report. Have you perhaps tried the features-set described in https://github.com/tikv/rust-prometheus/issues/342#issuecomment-783738547 already?

[2022-08-24 14:39] yds12 commented on #453
Hello, thanks for the reply. Just tried here, but the same error occurs.

[2022-08-25 00:31] CHCP opened #455 "Why process collector doesn't work in Windows 10?"
Hi there,
Why process collector doesn't work in Windows 10? Could you please  to have a look at this, many thanks.

Describe the bug
process collector did not work in Windows 10

System information
CPU architecture: x86_64
Operation System: Windows 10
Rustup toolchain : nightly-2022-04-07-x86_64-unknown-linux-gnu
Rustc 1.62.0-nightly (8f36334ca 2022-04-06)

To Reproduce
Steps to reproduce the beha

[2022-08-28 23:53] CHCP commented on #455
Found some comments in [process_collector.rs](https://github.com/tikv/rust-prometheus/blob/master/src/process_collector.rs)
[code]

[2022-08-28 23:53] #455 closed

[2022-08-31 13:12] yinheli commented on #315
ping

[2022-09-01 07:01] joshualex opened #456 "Provide a way to create auto-unsetting metrics"
I'm trying to create components that report metrics through holding an e.g. `IntCounter` generated from a registered `IntCounterVec`. I would like the set of labels attached to each component to be removed when the component is dropped, to avoid reporting the last value over and over again.

Currently this is very convoluted to achieve, since it requires holding a clone of the `MetricVec`, and the

[2022-09-02 04:48] kwiesmueller commented on #374
It's been a while since this discussion was last updated, but for people building exporters this would really be helpful.
It would allow to tie the (async) collection to the actual scrapes which I'd say is more reliable than collecting the data in the background and then letting prometheus just scrape the internal "cache".

Usually having to maintain two scrape intervals results in unreliable or l

[2022-09-09 13:47] bisgardo opened #458 "Emit metrics sorted by the "natural" ordering of their label values"
**Is your feature request related to a problem? Please describe.**

The `gather` method of `Registry` currently emits the gathered metrics ordered by their label values sorted lexicographically:

If I understand correctly, the legend in Grafana will order the series in the order they're emitted by Prometheus?

If so, it could greatly improve readability if labels could be sorted by [natural order]

[2022-09-19 16:44] XAMPPRocky opened #460 "Add `HistogramVec::with_label_values`"
**Is your feature request related to a problem? Please describe.**
Going through the docs there seems to be missing functionality for `HistogramVec`'s, namely that there's no way to get a `Histogram` out of it, you can only get `LocalHistogram` which as far as I can tell makes the type mostly useless for me, as I can't use it like `Counter` and `Metric`'s vector equivalents and have to have a `Vec

[2022-09-25 00:05] tooboredtocode opened #462 "Using a prefixed registry, valid metric names are incorrectly marked as invalid"
**Describe the bug**
Due to how Metrics are constructed, using a prefixed registry causes valid metric names to be marked as invalid
For example, if a registry has a valid prefix (such as `backend`), (yet) invalid metric name (such as `3rd_party_api_response_time`) will turn into valid metric names (`backend_3rd_party_api_response_time`)

Given that the check currently happens in the constructor o

[2022-09-25 08:59] tim-seoss commented on #315
I'm not likely to get time to work on this in the remainder of this year, however the change looks pretty small if someone else wants to tackle it.

[2022-09-26 20:27] tooboredtocode commented on #460
HistogramVec is a MetricsVector which supports the [get_metric_with_label_values](https://docs.rs/prometheus/0.13.2/prometheus/core/struct.MetricVec.html#method.get_metric_with_label_values) method

[2022-09-26 22:13] XAMPPRocky commented on #460
Ah thank you. That wasn't entirely clear from the docs, as I assumed the two methods it showed were the only methods available. Would be nice if it was more clear, but that's more a rustdoc issue

[2022-09-26 22:13] #460 closed

[2022-10-24 04:11] simon-fu opened #468 "Dose histogram support merge operation?"
For example, there are two histogram variables named h1 and h2 as :
[code]

After merge h1 and h2 into h3, we got:
[code]

[2022-11-23 11:40] fredrik-jansson-se commented on #248
I agree, this would be a very helpful feature.